:root {
--bg: #1d1e22 !important;             /*  var(--bg) darker blue  */
--border: #000102 !important;             /* var(--border) Black Border */
--first-color: #ffffff !important;             /* var(--first-color) white  */
--second-color: #6e7a83 !important;             /* var(--second-color) light blue-grey  */
--transparent: rgba(0, 0, 0, .75) !important;             /* var(--transparent) */
--transparent2: rgba(0, 0, 0, .5) !important;             /* var(--transparent2) */
}

body {
  background-color: var(--bg) !important;
}

p {
  color: var(--second-color) !important;
}

.border {
  border: 1px solid var(--border) !important;
}

.page-header {
  border-color: var(--border) !important;
  color: var(--first-color) !important;
}

.flour,
.jumbotron h1 {
  color: var(--first-color) !important;
}

.jumbotron {
  background-color: var(--bg) !important;
  padding-top: 55px;
  padding-bottom: 55px;
}

.btn {
  background: var(--bg) !important;
  color: var(--second-color) !important;
  border: 1px solid var(--border) !important;
  box-shadow: 1px 1px 5px 1px var(--transparent) !important;
}

.btn:hover {
  background: var(--transparent2) !important;
  color: var(--second-color) !important;
  border: 1px solid var(--border) !important;
  box-shadow: 1px 1px 5px 1px var(--transparent) !important;
}