@-moz-document regexp("https?://userstyles.org/.*") {
  /***backgrounds***/
  body,
  #nav-view,
  #footer {
    background: #444!important;
  }
  #header,
  .style_card {
    background: #212121 url(http://file1.npage.de/010270/19/bilder/commentsback1.jpg)!important;
    border-bottom: 1px solid #111!important;
    box-shadow: none!important;
  }
  #navigation {
    background: #212121 url(http://file1.npage.de/010270/19/bilder/commentsback1.jpg)!important;
    border: 1px solid #111!important;
    box-shadow: none!important;
    padding: 10px 20px 100px 20px!important;
    margin-top: 10px!important;
  }
  #notes_textarea {
    background: #212121 url(http://file1.npage.de/010270/19/bilder/commentsback1.jpg)!important;
    border: 1px solid #111!important;
    box-shadow: none!important;
    padding: 20px !important;
    border-radius: 5px 0 0 5px!important;
  }
  /***vorschaubild styleseite***/
  #preview_image_div {
    max-width: 742px!important;
  }
  /***input***/
  .option-user-url,
  .text_setting_input,
  #search_input,
  #search_input input {
    background-color: #333!important;
    color: #ddd!important;
  }
  /***text & links color***/
*:not(#headline):not(input):not(textarea):not(.btn-auth):not(mark):not(.bold):not(a):not(pre):not(.cm-builtin):not(.cm-property):not(.cm-number):not(.cm-atom):not(.cm-keyword):not(.cm-string):not(.cm-variable-3):not(.cm-tag):not(.cm-def):not(.cm-comment):not(.CodeMirror-linenumber):not(.cm-qualifier) {
  color: #ddd!important;
}
  body a {
    color: #3498db!important;
  }
  body a:hover,
  body span.bold:hover {
    color: #649bef!important;
  }
  #headline {
    color: #3498db!important;
  }
  body .CodeMirror-code pre > span,
  .cm-property,
  .btn-auth {
    color: #000!important;
  }
  .btn-google,
  .upload_image_label {
    color: #fff!important;
  }
  /***content center***/
  #nav-view {
    width: 80%!important;
  }
  #view {
    margin: 0 auto!important;
  }
  #container {
    display: flex!important;
  }
  /***navi***/
  .navigation_link_active {
    border: none!important;
  }
  .navigation_link:hover {
    background-color: #444!important;
  }
  .linksBox .navigation_link:last-child {
    box-shadow: 0 1px 0 0 #333, 0 0 0 0 #333!important;
  }
  [src="/ui/images/icons/newest.svg"],
  [src="/ui/images/icons/popular.svg"],
  [src="/ui/images/icons/home-icon.svg"],
  [src="/ui/images/icons/site-icon.svg"],
  [src="/ui/images/icons/app-icon.svg"],
  [src="/ui/images/icons/global-icon.svg"],
  [src="/ui/images/icons/graveyard.svg"] {
    -webkit-filter: grayscale(100%) brightness(250%);
    filter: grayscale(100%) brightness(250%);
  }
  /***Advanced Style Settings***/
  .advanced_button {
    display: none!important;
  }
  #style-settings:before {
    content: "Advanced Style Settings";
    color: #3498db;
    font-size: 16px;
    font-weight: bold;
  }
  #style-settings {
    position: absolute!important;
    margin: 100px 0px 0px 770px!important;
    width: 340px!important;
  }
  .advancedsettings_hidden {
    display: block!important;
    padding: 10px 0px 0px 0px!important;
  }
  .advancedsettings_shown {
    padding: 10px 0px 0px 0px!important;
  }
  .text_setting_input {
    height: 22px!important;
    margin-bottom: 0px!important;
  }
  .setting_div:last-of-type {
    padding-bottom: 350px!important;
  }
  .edit-setting {
    background: transparent!important;
  }
  #style-settings select {
    background: #222!important;
    border: none!important;
  }
   :focus {
    outline: -webkit-focus-ring-color auto 0px!important;
  }
  /***buttons***/
  .white_button,
  .css_button,
  #send_feedback_button,
  .see_more,
  .div-arrow {
    height: 46px!important;
    border: solid 1px #5c5c5c!important;
    background-color: #444!important;
  }
  .white_button:hover,
  .css_button:hover,
  #send_feedback_button:hover,
  .see_more:hover,
  .div-arrow:hover {
    background-color: #333!important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2)!important;
  }
  #install_style_button,
  #install_style_button:hover,
  #archive_style_button {
    box-shadow: none!important;
  }
  #style_installed_button {
    background-color: #212121!important;
  }
  /***footer***/
  #bottomLinks {
    position: absolute!important;
    top: 1px!important;
    left: 10px!important;
  }
  #leftFooter > div > #bottomLinks:nth-child(1),
  #rightFooter {
    display: none!important;
  }
  #footer-inside {
    margin-left: 15px!important;
  }
}