@-moz-document domain("trakt.tv") {

/*
 * Trakt.tv Dark v1.1
 * Copyright 2016 JourneyOver
*/

/* Global */
/* Global Body */
section {
  background-color: rgb(39, 41, 45) !important;
  color: rgb(255, 255, 255);
}

/* Global Navagation Menu */
.no-touch header#top-nav,
.no-touch header#top-nav:hover {
  background: rgba(36, 36, 39, 0.65);
}

/* Global Header Search */
#header-search {
  background: rgb(39, 41, 45);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75);
}

#header-search:hover {
  background: rgba(0, 0, 0, .5);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}

header#top-nav #header-search #header-search-button.btn-primary {
  background: rgba(0, 0, 0, .5);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}

header#top-nav #header-search #header-search-button.btn-primary:hover {
  background: rgb(39, 41, 45);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75);
}

header#top-nav #header-search #header-search-query.open {
  background: transparent;
  color: rgb(255, 255, 255);
}

header#top-nav #header-search #header-search-type.shown .dropdown-toggle {
  background: transparent;
  border-left: transparent;
  color: rgb(255, 255, 255);
}

header#top-nav #header-search #header-search-type.shown .dropdown-menu {
  background: rgb(39, 41, 45);
}

header#top-nav #header-search #header-search-type a {
  color: rgb(255, 255, 255);
  background: rgb(39, 41, 45);
  cursor: pointer;
}

header#top-nav #header-search #header-search-type a:hover {
  color: rgb(255, 0, 0);
  background: rgb(39, 41, 45);
}

/* Global Alert */
.alert {
    background-color: transparent !important;
    border: 1px solid rgb(0, 0, 0) !important;
    color: #FFFFFF !important;
}

/* Global Toast */
#toast-container.toast-top-full-width .toast.toast-success {
  background-color: transparent !important;
  border: 1px solid rgb(0, 0, 0) !important;
  color: #FFFFFF !important;
}

/* Global Footer + Footer Search */

footer {
  background: rgb(39, 41, 45);
}

#main-search {
  background: rgb(39, 41, 45) !important;
}

#main-search input.footer-search {
  background: transparent;
  color: rgb(255, 255, 255);
}


/* Global watchlist Dropdown Menu */
.quick-icons .actions .popover .popover-title {
  color: rgb(128, 128, 128) !important;
}

.popover.with-list .popover-content {
  background-color: rgb(39, 41, 45) !important;
}

.popover-title {
  background-color: rgb(39, 41, 45) !important;
  border-bottom: 1px solid rgb(128, 128, 128) !important;
}

ul.lists li {
  color: rgb(128, 128, 128) !important;
}

ul.lists li.selected {
  color: rgb(255, 255, 255) !important;
}
/* End Global */

/* Sign in page */
/* Trakt Logo */
#auth-form-wrapper .logo-wrapper .logo,
.checkin-modal .logo-wrapper .logo {
  background: url(http://i.imgur.com/iMVkiDx.png) no-repeat;
  background-size: 128px 128px;
}

/* Login form */
#auth-form-wrapper,
.checkin-modal {
  background-color: rgb(39, 41, 45);
  color: rgb(128, 128, 128);
  border-radius: 1px;
}

/* Text area */
.form-control {
  color: rgb(255, 255, 255);
  background-color: rgb(39, 41, 45);
  border: 1px solid rgb(0, 0, 0);
}

/* Sign-in Button */
#auth-form-wrapper .btn-primary,
.checkin-modal .btn-primary {
  background: rgb(39, 41, 45);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}

#auth-form-wrapper .btn-primary:hover,
.checkin-modal .btn-primary:hover {
  background: rgba(0, 0, 0, .5);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}

/* Twitter Button */
.btn-twitter {
  background: rgb(39, 41, 45);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}

.btn-twitter:hover {
  background: rgba(0, 0, 0, .5);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}

/* Facebook Button */
.btn-facebook {
  background: rgb(39, 41, 45);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}

.btn-facebook:hover {
  background: rgba(0, 0, 0, .5);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}

/* Google+ Button */
.btn-gplus,
.btn-google-plus {
  background: rgb(39, 41, 45);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}

.btn-gplus:hover,
.btn-google-plus:hover {
  background: rgba(0, 0, 0, .5);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}
  
/* Tumblr Button */
.btn-tumblr {
  background: rgb(39, 41, 45);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}

.btn-tumblr:hover {
  background: rgba(0, 0, 0, .5);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}

/* Medium Button */
.btn-medium {
  background: rgb(39, 41, 45);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}

.btn-medium:hover {
  background: rgba(0, 0, 0, .5);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}

/* Bottom Section of login form */
#auth-form-wrapper .bottom-wrapper,
.checkin-modal .bottom-wrapper {
  border-top: solid 1px rgb(39, 41, 45);
  background-color: rgb(39, 41, 45);
  Color: rgb(128, 128, 128);
}

/* Dashboard */
/* Dashboard Global */
h2 .feed-icons .feed-icon {
  color: rgb(128, 128, 128);
}

h2 .feed-icons .feed-icon:hover {
  color: rgb(255, 255, 255);
}

h2 .see-more {
  color: rgb(128, 128, 128);
}

h2 .see-more:hover {
  color: rgb(255, 255, 255);
}
/* End Global */

/* Avatar */
#results-top-wrapper.user-wrapper .user-avatar img {
  border-color: rgb(39, 41, 45);
  background-color: rgb(39, 41, 45);
  border-width: 0px;
}

/* Stats Wrapper */
#results-top-wrapper.user-wrapper .stats-wrapper {
    background-color: rgba(36, 36, 39, 0.65);
}

/* On Deck To Watch/Recently Watched/recommendations Quick Icons */
#ondeck-wrapper .titles-link h3 {
  color: rgb(255, 255, 255) !important;
}

#ondeck-wrapper .quick-icons,
#activity-wrapper .quick-icons,
#recommendations-wrapper .quick-icons {
  border-width: 0px !important;
  margin-top: 2px !important;
  background-color: rgba(0, 0, 0, 0.10) !important;
}

#ondeck-wrapper .quick-icons .actions a.watch:hover,
#ondeck-wrapper .quick-icons .actions a.watch.selected,
#activity-wrapper .quick-icons .actions a.watch:hover,
#activity-wrapper .quick-icons .actions a.watch.selected,
#recommendations-wrapper .quick-icons .actions a.watch:hover,
#recommendations-wrapper .quick-icons .actions a.watch.selected {
  color: rgb(255, 255, 255) !important;
}

#ondeck-wrapper .quick-icons .actions a.collect:hover,
#ondeck-wrapper .quick-icons .actions a.collect.selected,
#activity-wrapper .quick-icons .actions a.collect:hover,
#activity-wrapper .quick-icons .actions a.collect.selected,
#recommendations-wrapper .quick-icons .actions a.collect:hover,
#recommendations-wrapper .quick-icons .actions a.collect.selected {
  color: rgb(255, 255, 255) !important;
}

#ondeck-wrapper .quick-icons .actions a.list:hover,
#ondeck-wrapper .quick-icons .actions a.list.selected,
#activity-wrapper .quick-icons .actions a.list:hover,
#activity-wrapper .quick-icons .actions a.list.selected,
#recommendations-wrapper .quick-icons .actions a.list:hover,
#recommendations-wrapper .quick-icons .actions a.list.selected {
  color: rgb(255, 255, 255) !important;
}

#ondeck-wrapper .ignore:Hover,
#recommendations-wrapper .ignore:hover {
  color: rgb(255, 255, 255) !important;
}

/* Posters (On Deck To Watch/Upcoming schedule/Network Activity/) */
#ondeck-wrapper .poster,
#schedule-wrapper .poster,
#network-wrapper .poster {
  visibility: hidden;
}

#ondeck-wrapper .poster .real {
  visibility: visible;
  border-radius: 5px;
}

#schedule-wrapper .poster-wrapper .poster,
#network-wrapper .poster-wrapper .poster {
  visibility: visible !important;
}

#network-wrapper .posters .poster {
  border: hidden;
}

/* Recently Watched */
#activity-wrapper .fanart {
  visibility: hidden;
}

#activity-wrapper .fanart .shadow-base {
  visibility: visible !important;
}

#activity-wrapper .fanart .titles {
  visibility: visible !important;
}

#activity-wrapper .fanart .real {
  visibility: visible;
  border-radius: 5px !important;
}

/* Last 30 days at a glance */
#charts-wrapper h3 {
  color: rgb(255, 255, 255);
}

#charts-wrapper .genre-bars.light .bar label {
  color: rgb(255, 255, 255);
}

/* Network Activity */
#network-wrapper .posters .poster-under {
  background-color: transparent !important;
  color: rgb(255, 255, 255) !important;
}

#network-wrapper .posters .poster-under .text a.username {
  color: rgb(255, 255, 255) !important;
}

#network-wrapper .posters .poster-under .text a {
  color: rgb(255, 255, 255) !important;
}

#network-wrapper .posters .activity-date {
  background-color: rgb(44, 46, 51);
  color: rgb(255, 255, 255);
}

/* Profile Page */
/* Global Profile */

/* Dropdowns */
.btn-default {
  background: rgba(0, 0, 0, .5);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}

.dropdown .btn-default {
  background: rgb(39, 41, 45);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}

.dropdown .btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .btn-default.dropdown-toggle {
  background: rgba(0, 0, 0, .5);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}

.dropdown-menu,
.dropdown-menu>li>a {
  background: rgb(39, 41, 45);
  color: rgb(128, 128, 128);
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

/* Items and Plays Count */
.above-comment {
  background-color: transparent !important;
  border: 1px solid rgb(0, 0, 0) !important;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75);
}

.comment-wrapper {
  border-width: 0px !important;
  background-color: transparent !important;
}

.comment-wrapper .interactions,
#main-comment .interactions {
  font-size: 13px;
}

.comment-wrapper.wider .above-comment .interactions a {
  color: rgb(255, 255, 255);
  margin: 20px;
}

/* Divider/Eye/Cal/Rss/CSV icons */
.filter-dropdown .hide-dividers .icon {
  color: rgb(128, 128, 128);
}

.filter-dropdown .hide-dividers .icon:hover {
  color: rgb(255, 255, 255);
}

.filter-dropdown.selected .icon,
.filter-dropdown.selected .caret,
.filter-dropdown .selected .icon,
.filter-dropdown .selected .caret {
  color: rgb(255, 255, 255) !important;
}

.filter-dropdown .icon .line {
  background: rgb(255, 255, 255);
}

.filter-dropdown .dropdown-toggle {
  color: rgb(128, 128, 128);
}

.filter-dropdown .dropdown-toggle:hover {
  color: rgb(255, 255, 255);
}

.subnav-wrapper .right .feed-icon .icon {
  color: rgb(128, 128, 128);
}

.subnav-wrapper .right .feed-icon .icon:hover {
  color: rgb(255, 255, 255);
}

/* Page numbers */
.pagination li a {
    background-color: transparent !important;
    color: rgb(255, 255, 255) !important;
}

/* Cover Wrapper */
#cover-wrapper .shadow {
  display: none;
}

#cover-wrapper #avatar-wrapper .avatar {
  border-radius: 1%;
  border: 0px;
  background-color: transparent;
}

#cover-wrapper #backdrop-info a,
#cover-wrapper #backdrop-info a .year {
  color: rgb(255, 0, 0);
}

/* Links Wrapper */
#links-wrapper {
  background: rgba(36, 36, 39, 0.65);
}

/* About/Last Watched/WATCHED TV SHOWS/MOST WATCHED TV SHOW/MOST WATCHED MOVIE/FEATURED LIST/FAVORITE GENRES */
#boxes-wrapper .row .stat-box {
  border: 1px solid rgb(0, 0, 0);
}

#boxes-wrapper .row .stat-box h2,
#boxes-wrapper .row .last-comment h3 span,
#boxes-wrapper .row .stat-box .shade h3,
#boxes-wrapper .row .stat-box .shade h4 {
  font-family: "Proxima Nova";
  left: 70px;
  font-size: 15px;
  margin-right: 0px;
}

#boxes-wrapper .row .last-comment h3 .fa {
  font-size: 30px;
  margin: 0 0 0 0;
}

#boxes-wrapper .row .last-comment {
  background-color: rgb(39, 41, 45);
}

#boxes-wrapper .row .stats,
#boxes-wrapper .row .stats .bottom-shade {
  background-color: rgb(39, 41, 45);
}

#boxes-wrapper .row .stats .under-stat {
  color: rgb(196, 0, 0);
}

#boxes-wrapper .row .stat-box {
  background-color: rgb(39, 41, 45)
}

/* Recently Watched Episodes/Movies */
#recent-wrapper .poster {
  visibility: hidden;
}

#recent-wrapper .poster .real {
  visibility: visible;
  border-radius: 5px;
}

#recent-wrapper .poster-wrapper .poster {
  visibility: visible !important;
}

#recent-wrapper .posters .poster {
  border: hidden;
}

#recent-wrapper .quick-icons {
  border-width: 0px !important;
  margin-top: 2px !important;
  background-color: rgba(0, 0, 0, 0.10) !important;
}

#recent-wrapper .quick-icons .actions a.watch:hover,
#recent-wrapper .quick-icons .actions a.watch.selected {
  color: rgb(255, 255, 255) !important;
}

#recent-wrapper .quick-icons .actions a.collect:hover,
#recent-wrapper .quick-icons .actions a.collect.selected {
  color: rgb(255, 255, 255) !important;
}

#recent-wrapper .quick-icons .actions a.list:hover,
#recent-wrapper .quick-icons .actions a.list.selected {
  color: rgb(255, 255, 255) !important;
}

.titles-link h3 {
  color: rgb(255, 255, 255) !important;
}

.titles-link h4 {
  color: rgb(171, 171, 171) !important;
}

/* Favorites */
#favorites-wrapper.col-stat.alt {
  background: transparent;
}

/* Ratings */
#chart-ratings-wrapper.col-stat.alt {
  background: transparent;
}

#chart-ratings-wrapper #chart-ratings {
  border: 1px solid rgb(0, 0, 0);
}

/* History Page */
#history-items .poster {
  visibility: hidden;
}

#history-items .poster .real {
  visibility: visible;
  border-radius: 5px;
}

#history-items .poster-wrapper .poster {
  visibility: visible !important;
}

#history-items .posters .poster {
  border: hidden;
}

#history-items .quick-icons {
  border-width: 0px !important;
  margin-top: 2px !important;
  background-color: rgba(0, 0, 0, 0.10) !important;
}

#history-items .quick-icons .actions a.watch:hover,
#history-items .quick-icons .actions a.watch.selected {
  color: rgb(255, 255, 255) !important;
}

#history-items .quick-icons .actions a.collect:hover,
#history-items .quick-icons .actions a.collect.selected {
  color: rgb(255, 255, 255) !important;
}

#history-items .quick-icons .actions a.list:hover,
#history-items .quick-icons .actions a.list.selected {
  color: rgb(255, 255, 255) !important;
}

/* Progress Page */
/* Posters */
#progress-wrapper .poster {
  visibility: hidden;
}

#progress-wrapper .poster .real {
  visibility: visible;
  border-radius: 5px;
}

#progress-wrapper .poster-wrapper .poster {
  visibility: visible !important;
}

#progress-wrapper .posters .poster {
  border: hidden;
}

/* Fanart */
#progress-wrapper .fanart {
  visibility: hidden;
}

#progress-wrapper .fanart .shadow-base {
  visibility: visible !important;
}

#progress-wrapper .fanart .titles {
  visibility: visible !important;
}

#progress-wrapper .fanart .real {
  visibility: visible;
  border-radius: 5px !important;
}

#progress-wrapper .quick-icons {
  border-width: 0px !important;
  margin-top: 2px !important;
  background-color: rgba(0, 0, 0, 0.10) !important;
}

#progress-wrapper .quick-icons .actions a.watch:hover,
#progress-wrapper .quick-icons .actions a.watch.selected {
  color: rgb(255, 255, 255) !important;
}

#progress-wrapper .quick-icons .actions a.collect:hover,
#progress-wrapper .quick-icons .actions a.collect.selected {
  color: rgb(255, 255, 255) !important;
}

#progress-wrapper .quick-icons .actions a.list:hover,
#progress-wrapper .quick-icons .actions a.list.selected {
  color: rgb(255, 255, 255) !important;
}

/* Season Bar */
.seasons {
  background-color: rgba(0, 0, 0, .5) !important;
  width: 85% !important;
  margin-left: 3% !important;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75) !important;
  text-align: center;
}

.season-toggle {
    color: #FFFFFF !important;
}

/* Collections Page */

#collection-items .poster {
  visibility: hidden;
}

#collection-items .poster .real {
  visibility: visible;
  border-radius: 5px;
}

#collection-items .poster-wrapper .poster {
  visibility: visible !important;
}

#collection-items .posters .poster {
  border: hidden;
}

#collection-items .quick-icons {
  border-width: 0px !important;
  margin-top: 2px !important;
  background-color: rgba(0, 0, 0, 0.10) !important;
}

#collection-items .quick-icons .actions a.watch:hover,
#collection-items .quick-icons .actions a.watch.selected {
  color: rgb(255, 255, 255) !important;
}

#collection-items .quick-icons .actions a.collect:hover,
#collection-items .quick-icons .actions a.collect.selected {
  color: rgb(255, 255, 255) !important;
}

#collection-items .quick-icons .actions a.list:hover,
#collection-items .quick-icons .actions a.list.selected {
  color: rgb(255, 255, 255) !important;
}

/* Ratings Page */
#rating-items .poster {
  visibility: hidden;
}

#rating-items .poster .real {
  visibility: visible;
  border-radius: 5px;
}

#rating-items .poster-wrapper .poster {
  visibility: visible !important;
}

#rating-items .posters .poster {
  border: hidden;
}

#rating-items .quick-icons {
  border-width: 0px !important;
  margin-top: 2px !important;
  background-color: rgba(0, 0, 0, 0.10) !important;
}

#rating-items .quick-icons .actions a.watch:hover,
#rating-items .quick-icons .actions a.watch.selected {
  color: rgb(255, 255, 255) !important;
}

#rating-items .quick-icons .actions a.collect:hover,
#rating-items .quick-icons .actions a.collect.selected {
  color: rgb(255, 255, 255) !important;
}

#rating-items .quick-icons .actions a.list:hover,
#rating-items .quick-icons .actions a.list.selected {
  color: rgb(255, 255, 255) !important;
}

/* Lists Page */
/* Add List/Reorder/list count background */
.subnav-wrapper {
  background-color: rgb(39, 41, 45) !important;
}

.comment-wrapper.subnav .above-comment .interactions {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#btn-list-add,
.comment-wrapper.lists .count-text,
.btn-list-edit-items,
#btn-list-edit-lists {
  font-size: 13px;
  color: rgb(128, 128, 128);
}

#btn-list-add:hover,
.comment-wrapper.lists .count-text:hover,
.btn-list-edit-items,
#btn-list-edit-lists:hover {
  color: rgb(255, 255, 255);
}

.btn-list-edit-items .icon,
#btn-list-edit-lists .icon {
  transition: all 0s;
}

.btn-list-edit-items,
#btn-list-edit-lists:hover {
  color: rgb(255, 255, 255) !important;
}

#btn-list-edit-lists.active {
  color: rgb(255, 255, 255) !important;
}

/* Sort Direction */
#sort-direction {
  color: rgb(128, 128, 128);
}

#sort-direction.selected {
  color: rgb(255, 255, 255);
}

/* Posters */
.list-rows .poster-items-wrapper .poster {
  visibility: hidden;
}

.list-rows .poster-items-wrapper .real {
  visibility: visible;
  border-radius: 5px;
}

.list-rows .poster-items-wrapper {
  visibility: visible !important;
}

.list-rows .poster-items-wrapper {
  border: hidden;
}

/* list wrappers */
.comment-wrapper.list .above-comment .user-name h4 a.username {
  color: rgb(255, 255, 255);
}

.custom-list .list-info .user-actions .icon.btn-list-subscribe,
.custom-list .list-info .user-actions .icon.btn-list-clone {
  color: rgb(255, 255, 255);
}

.comment-wrapper.list .selected {
    color: rgb(237, 28, 36) !important;
}

.custom-list .list-info .info .overview[data-readmore][aria-expanded="false"] .shade {
  width: 0%;
}

/* Lists Page Part 2 (inside of lists) */
/* clone and subscribe buttons */

.subnav-wrapper .left h2 .right a {
	color: rgb(128, 128, 128);
}

.subnav-wrapper .left h2 .right a:hover {
	color: rgb(255, 255, 255);
}

/* Posters */
#sortable-grid .poster {
  visibility: hidden;
}

#sortable-grid .poster .real {
  visibility: visible;
  border-radius: 5px;
}

#sortable-grid .poster-wrapper .poster {
  visibility: visible !important;
}

#sortable-grid .posters .poster {
  border: hidden;
}

#sortable-grid .quick-icons {
  border-width: 0px !important;
  margin-top: 2px !important;
  background-color: rgba(0, 0, 0, 0.10) !important;
}

#sortable-grid .quick-icons .actions a.watch:hover,
#sortable-grid .quick-icons .actions a.watch.selected {
  color: rgb(255, 255, 255) !important;
}

#sortable-grid .quick-icons .actions a.collect:hover,
#sortable-grid .quick-icons .actions a.collect.selected {
  color: rgb(255, 255, 255) !important;
}

#sortable-grid .quick-icons .actions a.list:hover,
#sortable-grid .quick-icons .actions a.list.selected {
  color: rgb(255, 255, 255) !important;
}

/* Comments page (profile) */
/* Avatar */
.user-avatar img {
  display: block;
  width: 100%;
  border: solid 0px;
  background-color: rgb(39, 41, 45);
  border-radius: 0%;
  margin-left: 5px;
}

/* Above Comment Wrapper */
.comment-wrapper .above-comment .selected {
  color: rgb(237, 28, 36) !important;
}

/* Date and Time */
.comment-wrapper .above-comment .date {
  color: rgb(255, 255, 255);
  font-family: "Proxima Nova" !important;
}

/* Posters */
#user-comments .poster {
  visibility: hidden;
}

#user-comments .poster .real {
  visibility: visible;
  border-radius: 5px;
}

#user-comments .poster-wrapper .poster {
  visibility: visible !important;
}

#user-comments .posters .poster {
  border: hidden;
}

#user-comments .quick-icons {
  border-width: 0px !important;
  margin-top: 2px !important;
  background-color: rgba(0, 0, 0, 0.10) !important;
}

#user-comments .quick-icons .actions a.watch:hover,
#user-comments .quick-icons .actions a.watch.selected {
  color: rgb(255, 255, 255) !important;
}

#user-comments .quick-icons .actions a.collect:hover,
#user-comments .quick-icons .actions a.collect.selected {
  color: rgb(255, 255, 255) !important;
}

#user-comments .quick-icons .actions a.list:hover,
#user-comments .quick-icons .actions a.list.selected {
  color: rgb(255, 255, 255) !important;
}

/* TV/Movies/Calender/Discover page */

/* Body */
.frame-wrapper {
  background-color: #27292D;
}

.frame-wrapper #huckster-desktop-wrapper.visible {
  display: block;
  padding: 0 0 0 0;
  background: #27292D;
}

.container-fluid {
  background: #27292D;
}

/* Fanart */
.container-fluid .fanart {
  visibility: hidden;
}

.container-fluid .fanart .shadow-base {
  visibility: visible !important;
}

.container-fluid .fanart .titles {
  visibility: visible !important;
}

.container-fluid .fanart .real {
  visibility: visible;
  border-radius: 1px !important;
}

.container-fluid .quick-icons {
  border-width: 0px !important;
  margin-top: 0px !important;
  background-color: rgba(0, 0, 0, 0.10) !important;
}

.container-fluid .quick-icons .actions a.watch:hover,
.container-fluid .quick-icons .actions a.watch.selected {
  color: rgb(255, 255, 255) !important;
}

.container-fluid .quick-icons .actions a.collect:hover,
.container-fluid .quick-icons .actions a.collect.selected {
  color: rgb(255, 255, 255) !important;
}

.container-fluid .quick-icons .actions a.list:hover,
.container-fluid .quick-icons .actions a.list.selected {
  color: rgb(255, 255, 255) !important;
}

/* Apps Page */
.btn-group.in-wrapper .btn {
  background: rgba(0, 0, 0, .5);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75);
}

.btn-group.in-wrapper .btn-primary {
  background: rgba(0, 0, 0, .5);
  color: rgb(255, 0, 0);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75);
}

/* Show Page */
/* Global */

/* Rate this show */
@keyframes fade-in {
  from {
    color: rgb(255, 255, 255);
  }
  to {
    color: rgb(237, 28, 36);
  }
}

@keyframes fade-out {
  from {
    color: rgb(237, 28, 36);
  }
  to {
    color: rgb(255, 255, 255);
  }
}

.fa-heart-o {
  animation-name: fade-out;
  animation-duration: 0.5s;
  color: rgb(255, 255, 255);
}

.fa-heart-o:hover {
  animation-name: fade-in;
  animation-duration: 0.5s;
  color: rgb(237, 28, 36);
}

/* Checkin/Watched/Collection/Add to List/Comment */
.btn-checkin {
  color: rgb(237, 28, 36) !important;
  background-color: transparent !important;
}

.btn-checkin:hover {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(237, 28, 36) !important;
}

.btn-watch {
  background-color: transparent !important;
}

.btn-watch:hover {
  background-color: rgb(142, 68, 173) !important;
}

.btn-collect {
  background-color: transparent !important;
}

.btn-collect:hover {
  background-color: rgb(22, 160, 133) !important;
}

.btn-list {
  background-color: transparent !important;
}

.btn-list:hover {
  background-color: rgb(0, 158, 223) !important;
}

.btn-comment {
  background-color: transparent !important;
}

.btn-comment:hover {
  background-color: rgb(110, 122, 131) !important;
}

/* Side Bar */
/* Poster */
#info-wrapper .sidebar .poster {
  visibility: hidden;
}

#info-wrapper .sidebar .poster .real {
  visibility: visible;
  border-radius: 1px;
}

/* Navigation */
#info-wrapper .sidebar .sections li a:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
}

#info-wrapper .sidebar .external li a {
    color: rgb(255, 255, 255);
}

/* Summary and user activity */
.summary-activity .tabs .tab {
  background: rgba(0, 0, 0, .5);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75);
}

.summary-activity .tabs .tab.selected {
  background: rgba(0, 0, 0, .5);
  color: rgb(255, 0, 0);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75);
}

.summary-activity .tab-content .tab-pane .users-wrapper {
  background: rgba(0, 0, 0, .5);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 1, 2);
}

/* Next/Recent Episodes */
#info-wrapper .quick-icons {
  border-width: 0px !important;
  margin-top: 0px !important;
  background-color: rgba(0, 0, 0, 0.10) !important;
}

#info-wrapper .quick-icons .actions a.watch:hover,
#info-wrapper .quick-icons .actions a.watch.selected {
  color: rgb(255, 255, 255) !important;
}

#info-wrapper .quick-icons .actions a.collect:hover,
#info-wrapper .quick-icons .actions a.collect.selected {
  color: rgb(255, 255, 255) !important;
}

#info-wrapper .quick-icons .actions a.list:hover,
#info-wrapper .quick-icons .actions a.list.selected {
  color: rgb(255, 255, 255) !important;
}

/* Actors */
#info-wrapper .info #actors .posters ul li .poster {
  visibility: hidden;
}

#info-wrapper .info #actors .posters ul li .poster .real {
  visibility: visible;
  border-radius: 1px;
}

#info-wrapper .info #actors .posters ul li .character {
  color: rgb(255, 255, 255);
}

#info-wrapper .info #actors .posters ul:hover li .titles .name {
  color: rgb(255, 255, 255);
  opacity: 100;
}

.tooltip {
  visibility: hidden !important;
}

/* Season Poster */
.season-posters .poster {
  visibility: hidden;
}

.season-posters .poster .real {
  visibility: visible;
  border-radius: 1px;
}

.season-posters .poster-wrapper .poster {
  visibility: visible !important;
}

.season-posters .posters .poster {
  border: hidden;
}

.season-posters .quick-icons {
  border-width: 0px !important;
  margin-top: 2px !important;
  background-color: rgba(0, 0, 0, 0.10) !important;
}

.season-posters .quick-icons .actions a.watch:hover,
.season-posters .quick-icons .actions a.watch.selected {
  color: rgb(255, 255, 255) !important;
}

.season-posters .quick-icons .actions a.collect:hover,
.season-posters .quick-icons .actions a.collect.selected {
  color: rgb(255, 255, 255) !important;
}

.season-posters .quick-icons .actions a.list:hover,
.season-posters .quick-icons .actions a.list.selected {
  color: rgb(255, 255, 255) !important;
}

/* Comments Page */
body.comments #info-wrapper .above-comment-bg,
body.comments_season #info-wrapper .above-comment-bg,
body.comments_episode #info-wrapper .above-comment-bg,
body.list_comments #info-wrapper .above-comment-bg comment blockquote {
    background-color: rgb(39, 41, 45);
}

body.comments #info-wrapper .info #read .comment-wrapper .comment blockquote,
body.comments_season #info-wrapper .info #read .comment-wrapper .comment blockquote,
body.comments_episode #info-wrapper .info #read .comment-wrapper .comment blockquote,
body.list_comments #info-wrapper .info #read .comment-wrapper .comment blockquote {
    background-color: rgb(39, 41, 45);
}

.comment-wrapper .comment blockquote {
    background-color: rgb(39, 41, 45);
}

/* Shouts page */
body.comments #info-wrapper .above-comment-bg,
body.comments_liked #info-wrapper .above-comment-bg,
body.comments_season #info-wrapper .above-comment-bg,
body.comments_episode #info-wrapper .above-comment-bg,
body.list_comments #info-wrapper .above-comment-bg {
  background-color: rgb(39, 41, 45);
}

/* Seasons Page */
/* Season Links */
.season-links {
  background-color: transparent !important;
  border-top: 1px solid rgb(0, 0, 0) !important;
  border-bottom: 1px solid rgb(0, 0, 0) !important;
}

#info-wrapper .season-links .links ul li a {
  color: rgb(128, 128, 128);
  text-decoration: none;
}

#info-wrapper .season-links .links ul li a.selected {
  color: rgb(255, 255, 255);
  font-family: "Proxima Nova";
}

/* Episode Info */
#episodes-wrapper .under-info .titles {
  background-color: rgb(39, 41, 45);
}

#episodes-wrapper .under-info h3 a {
  color: rgb(237, 28, 36);
}

#episodes-wrapper .episode-stats a {
  color: rgb(253, 253, 253) !important;
}

/*Settings Page */
/* General */
#main-settings .btn-link {
  color: rgb(255, 255, 255);
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}

#main-settings .panel {
  background-color: rgb(39, 41, 45);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75);
}

#main-settings .panel-default>.panel-heading {
  color: rgb(255, 255, 255);
  background-color: rgb(39, 41, 45);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75);
}

#main-settings .form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: rgb(39, 41, 45);
}

#avatar-file-upload {
  background: rgb(39, 41, 45);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}

#avatar-file-upload:hover {
  background: rgba(0, 0, 0, .5);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}

body.settings .buttons .btn,
body.authorized_applications .buttons .btn,
body.applications .buttons .btn,
body.widgets .buttons .btn {
  background: rgb(39, 41, 45);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)
}