@-moz-document domain("runescape.com") {
/* Background */

body {
  background-color: rgb(14, 17, 19) !important;
}


/* titles */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(139, 0, 0);
  text-align: center;
}

.title {
  border-bottom: 1px solid rgb(14, 17, 19) !important;
}

.title:after {
  border-top: hidden;
}


/* chart bar colors */

.bar-chart .chart-body rect.bar--click,
.bar-chart .chart-body rect.bar--non-click {
  fill-opacity: .8;
  fill: rgb(255, 0, 0);
}


/* header */

.header-bar {
  overflow: hidden;
  border-bottom: 0 solid rgb(40, 35, 35);
  background-color: rgb(14, 17, 19) !important;
  margin-bottom: 5px;
}

.header-avatar__circle-img-wrap {
  border-radius: 0;
  border: 2px solid rgb(0, 1, 2);
}

.searched-user-bar {
  border: 1px solid rgb(0, 1, 2);
  background-color: rgba(0, 0, 0, 0);
}

.searched-user-bar__name {
  color: rgb(255, 255, 255);
}

.back-to-profile,
.back-to-profile:hover {
  border: 3px solid rgb(0, 1, 2);
  background-color: rgba(0, 0, 0, 0);
  font-size: .9rem;
}

.back-to-profile__link {
  color: rgb(255, 255, 255);
}

.back-to-profile:hover .back-to-profile__link {
  color: rgb(255, 0, 0) !important;
}


/* header search */

.search-small .search-small__submit {
  padding: 8px;
  background: rgba(0, 0, 0, .5);
  border: 2px solid rgb(0, 1, 2);
}

.search-small .search-small__submit:hover {
  padding: 8px;
  background: rgba(0, 0, 0, .1);
  color: rgb(139, 0, 0);
  border: 2px solid rgb(0, 1, 2);
}

.search-small .search-small__input {
  padding: 3px;
  background: rgba(0, 0, 0, .5);
  color: rgb(139, 0, 0);
  border: 2px solid rgb(0, 1, 2);
}

.search-small .search-small__input:focus {
  padding: 3px;
  background: rgba(0, 0, 0, .5);
  color: rgb(139, 0, 0);
  border: 2px solid rgb(0, 1, 2);
}


/* Screen Overlay */

.screen-overlay,
overlay {
  display: none;
}


/* timeline picker */

.timeline-picker-toggle__icon {
  background-color: rgb(14, 17, 19);
  border: 2px solid rgb(0, 0, 0);
  padding-top: 4px;
}

.timeline-picker-toggle__icon--isActive {
  color: rgb(128, 128, 128);
}

.timeline-picker-toggle__range:after {
  border-bottom: 8px solid rgb(0, 0, 0);
}

.timeline-picker-toggle__range {
  color: rgb(255, 255, 255);
  background-color: rgb(14, 17, 19);
  border: 2px solid rgb(0, 0, 0);
}

.timeline-picker-toggle__range--isActive {
  color: rgb(128, 128, 128);
}

.timeline-picker-toggle__range--isActive:after {
  border-top: 8px solid rgb(0, 0, 0);
  border-bottom: none;
}

.timeline-picker__selection {
  border: 2px solid rgb(0, 1, 2);
  background-color: rgb(14, 17, 19) !important;
}

.button {
  background: rgba(0, 0, 0, .5);
  color: rgb(128, 128, 128);
  border: 2px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75);
}

.button:hover {
  background: rgba(0, 0, 0, .5);
  color: rgb(139, 0, 0);
  border: 2px solid rgb(0, 1, 2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75);
}

.timeline-picker__divider span {
  background: rgb(14, 17, 19) !important;
  color: rgb(110, 120, 121);
}

input[type=text][readonly] {
  color: rgb(128, 128, 128);
  background: rgba(0, 0, 0, 0);
  border: 1px solid black;
}


/* section behind blocks */

.row.collapse .row {
  background-color: rgb(14, 17, 19) !important;
}

.content__wrapper {
  margin-bottom: 10px;
  background-color: rgb(14, 17, 19) !important;
  border: 1px solid rgb(14, 17, 19) !important;
  overflow: hidden;
}


/* profile block */

.profile-block__circle-img-wrap {
  border-radius: 0;
  border: 3px solid rgb(0, 1, 2);
}

.profile-block {
  background: rgba(0, 0, 0, .5);
  border: 3px solid rgb(0, 1, 2);
  font-size: .8em;
}

.profile-block__name {
  border-bottom: 1px solid rgb(0, 1, 2);
}

.profile-block__time {
  float: right;
}


/* Activity block */

.activity-block {
  margin: 2px 0;
  padding: 3px 10px;
  background: rgba(0, 0, 0, .5);
  border: 3px solid rgb(0, 1, 2);
}

.activity-block__title {
  margin: 1px 0 0;
  border-bottom: 1px solid rgb(0, 1, 2);
  font-size: 1.4em;
  line-height: 2em;
}

.activity-block__list-item {
  padding: 2px 0;
  border-bottom: 1px solid rgb(0, 1, 2);
}


/* Skills block */

.skills-block {
  margin: 2px 0;
  padding: 3px 10px;
  background: rgba(0, 0, 0, .5);
  border: 3px solid rgb(0, 1, 2);
}

.skills-block__title {
  margin: 1px 0 0;
  border-bottom: 1px solid rgb(0, 1, 2);
  font-size: 1.4em;
  line-height: 2em;
}

.skills-block__stat-title {
  padding: 5px 0;
  border-bottom: 1px solid rgb(0, 1, 2);
}

.skills-block__list,
.skills-block__skills-container {
  padding: 1px 0;
  border-bottom: 0px solid;
}


/* Clan block */

.clan-block {
  margin: 2px 0;
  padding: 0 10px;
  background: rgba(0, 0, 0, .5);
  border: 3px solid rgb(0, 1, 2);
}

.clan-block__banner {
  min-width: 190px;
  height: 87px;
  margin: 10px 0 10px;
}


/* Quest block */

.quests-block {
  background: rgba(0, 0, 0, .5);
  padding: 3px 10px;
  border: 3px solid rgb(0, 1, 2);
  font-size: .8em;
}

.quests-block__container {
  margin: 5px 0;
}

.quests-block__title {
  margin: 3px 0 0;
  border-bottom: 1px solid rgb(0, 1, 2);
  font-size: 1.6em;
  line-height: 2em;
}

.quests-block__key {
  display: none;
}

.pie-chart {
  display: none;
}


/* XP Split|Xp Gain|Kills|Drops|Wealth block */

.summary-block {
  margin: 6px 0;
  padding: 0px 5px;
  background: rgba(0, 0, 0, .5);
  border: 3px solid rgb(0, 1, 2);
}

.summary-block__stat-title {
  padding: 5px 0;
  border-bottom: 1px solid rgb(0, 1, 2);
}

.summary-block__title {
  border-bottom: 1px solid rgb(0, 1, 2);
  font-size: 1.4em;
}

.base-tbl {
  background: rgba(0, 0, 0, .5);
  border: 2px solid rgb(0, 1, 2);
  width: 100%;
  color: rgb(255, 255, 255);
  margin: 10px 0;
}

.base-tbl th {
  background: rgb(1, 11, 16);
  color: rgb(255, 255, 255);
  text-align: left;
}

.bar-chart__bg {
  stroke-width: 2px;
  stroke: rgb(0, 1, 2);
}


/* sidebar links */

.navigation {
  border: 2px solid rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0);
}

.navigation__link {
  color: rgb(255, 0, 0);
  background: rgba(0, 0, 0, 0);
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
}

.navigation__link:hover,
.navigation__sub-link:hover {
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
}

.navigation__item--active .navigation__link {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
}

.navigation__item--dropped .navigation__sub-list {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.navigation__sub-link {
  color: rgb(255, 0, 0);
  background: rgb(7, 9, 10);
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
}

.navigation__sub-item--active .navigation__sub-link {
  color: rgb(255, 255, 255);
  background: rgb(7, 9, 10);
}

.navigation__foot {
  border-top: 2px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.navigation__foot-link {
  color: rgb(255, 0, 0);
}


/* links */

.activity-block__base-link,
.activity-block__base-link:Hover {
  position: inherit;
  border: 2px solid rgb(0, 0, 0);
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  color: rgb(255, 0, 0);
}

.activity-block__base-link:after {
  display: none;
}

.skills-block__base-link,
.skills-block__base-link:Hover {
  position: inherit;
  border: 2px solid rgb(0, 0, 0);
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  color: rgb(255, 0, 0);
}

.skills-block__base-link:after {
  display: none;
}

.summary-block__base-link,
.summary-block__base-link:hover {
  position: inherit;
  border: 2px solid rgb(0, 0, 0);
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  color: rgb(255, 0, 0);
}

.summary-block__base-link:after {
  display: none;
}


/* levels page */

.levels-summary__block {
  margin: 5px 0;
  background: rgba(0, 0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.ng-table th.sortable {
  background: rgb(1, 11, 16);
}

.xp-levels-table {
  background: rgb(0, 1, 2);
  border: 2px solid rgb(0, 0, 0);
}


/* XP Gain - Monthly page */

.xp-gains-summary-table {
  background: rgba(0, 0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.xp-gains-summary-table th {
  background: rgb(1, 10, 14);
}

.chosen-container .chosen-choices {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}

.chosen-container .search-field {
  background: rgba(0, 0, 0, 0);
}

.chosen-container .chosen-choices li.search-field input[type=text] {
  color: rgb(255, 255, 255) !important;
}

.chosen-container .chosen-drop {
  background: rgb(14, 17, 19);
  border: 1px solid rgb(0, 0, 0);
}

.chosen-container .chosen-results li.highlighted {
  background: rgb(14, 17, 19);
  color: rgb(255, 0, 0);
}


/* XP Gain - Daily page */

.settings-menu-toggle__icon {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  padding-top: 5px;
}

.settings-menu-toggle__icon--isActive {
  color: rgb(128, 128, 128);
}

.settings-menu {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(14, 17, 19);
  padding: 10px 0;
}

input[type=checkbox]+label::before {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}


/* XP Split page */

.xp-gains-skill-table tr {
  margin: 5px 0;
  background: rgba(0, 0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.xp-gains-skill-table {
  background: rgb(0, 1, 2);
  border: 2px solid rgb(0, 0, 0);
}


/* Event Log page */

.activities-block {
  background: rgb(14, 17, 19);
  border: 2px solid rgb(0, 0, 0);
  font-size: .8em;
}

.activities-block__title {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.rss-btn {
  color: rgb(128, 128, 128);
}

.rss-btn:hover {
  color: rgb(255, 255, 255);
}


/* Wealth page */

.wealth-change-table td,
.wealth-change-table th {
  background: rgb(14, 17, 19);
  border: 2px solid rgb(0, 0, 0);
}


/* Kills and drops page */

.pvm-kills-table {
  background: rgb(0, 1, 2);
  border: 2px solid rgb(0, 0, 0);
}

.table-header {
  padding: 10px;
  margin: 10px 0 -10px;
  background: rgb(0, 0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
}

.table-header__title {
  border-bottom: 1px solid rgb(0, 0, 0);
}


/* Friends list page */

.page-summary-block {
  margin: 5px 0;
  background: rgba(0, 0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.base-tbl {
	background: rgb(0, 1, 2) !important;
	border: 2px solid rgb(0, 0, 0) !important;
}

.small-avatar--table {
	border-radius: 0;
	border: 1px solid rgb(0, 1, 2);
}


/* Friends' Event Log page */

.small-avatar {
	border-radius: 0;
	border: 1px solid rgb(0, 1, 2);
}
}