/*::: Expand 'Extras' display for movies (shows as grid instead of scroller) :::*/
[class^="PrePlayExtrasList-extrasHubCell-"]>div:nth-child(2),
[class^="PrePlayExtrasList-extrasHubCell-"]>div:nth-child(2)>[class^="Measure-container-"]>div>div {
  height: auto !important;
  width: auto !important;
}

[class^="PrePlayExtrasList-extrasHubCell-"]>div:nth-child(2)>[class^="Measure-container-"]>div>div>div {
  position: relative !important;
  display: inline-block;
  transform: translate3d(10px, 10px, 0px) !important;
  margin: 10px;
}

/*::: kill container margin and add transition speed :::*/
/*::: Contract the sidebar to save screen space [Expands back out on hovering over the sidebar] :::*/
.page-container {
  margin-left: 0px !important;
}

.sidebar-container {
  width: 65px !important;
  transition: all 0.5s ease !important;
}

.sidebar-container:hover {
  width: 240px !important;
  transition: all 1.5s ease !important;
}

[class^="SidebarLink-title"],
[class^="SidebarServerLibraries-librariesTitle"],
[class^="SidebarList-sidebarListHeader"],
[class^="ServerMenuButton-serverMenuTitle-"] {
  font-size: 0px !important;
}

.sidebar-container:hover [class^="SidebarLink-title"],
.sidebar-container:hover [class^="SidebarServerLibraries-librariesTitle"],
.sidebar-container:hover [class^="SidebarList-sidebarListHeader"] {
  font-size: 12px !important;
  transition: all 2s ease !important;
}

[class^="SidebarLibrariesActions-actions"],
[class^="SidebarLink-children"],
[class^="DisclosureArrow-disclosureArrow-"] {
  display: none !important;
}

.sidebar-container:hover [class^="SidebarLibrariesActions-actions"],
.sidebar-container:hover [class^="SidebarLink-children"],
.sidebar-container:hover [class^="DisclosureArrow-disclosureArrow"]  {
  display: inline-block !important;
  transition: all 2s ease !important;
}

.sidebar-container:hover [class^="ServerMenuButton-serverMenuTitle-"] {
  font-size: 14px !important;
  transition: all 3s ease !important;
}

[class^="SidebarLibraryItem-action"] {
  width: 0px !important;
}