/* Cast Cards */
div[class^="TagPosterCard-card-"] {
  margin-top: 5px;
  box-shadow: 0px 12px 20px -8px #000;
  border-radius: 0%;
  transition: transform 0.26s ease-out;
}

div[class^="TagPosterCard-card-"]:hover {
  transform: scale(1.05);
  border: 1px solid #cc7b19;
}

[class*="PrePlayCastCell-cardLink-"] {
  border-radius: 1px !important;
}

/* Change color of how long movie/episodes are, unwatched status, date to be a bit more noticable on lighter/darker backgrounds */
[class*="PrePlayTertiaryTitle-"],
[class*="PrePlayRatingRightTitle-ratingRightTitle-"],
[class^="Link-link-"],
[class^="PrePlayTagList-tagsListLink-"] {
  color: #fff !important;
}

/*::: Make the navbar transparent :::*/
.nav-bar {
  background: transparent !important;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, .1) !important;
}