/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::: Future Projects :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/* Change color of how long movie/episodes are, unwatched status, date to be a bit more noticable on lighter/darker backgrounds */
[class*="PrePlayTertiaryTitle-"],
[class*="PrePlayRatingRightTitle-ratingRightTitle-"],
[class^="Link-link-"],
[class^="PrePlayTagList-tagsListLink-"] {
  color: #fff !important;
}

/*::: Make the navbar transparent :::*/
.nav-bar {
  border-bottom: 1px solid #000;

  background: transparent !important;
}

/*::: Make the page header transparent :::*/
[class^="PrePlayPageHeader-altPageHeader-"],
[class*="PageHeader-pageHeader-"] {
  border-bottom: 1px solid #000;

  background: transparent !important;
}

/*::: Make the sidebar and server menu button transparent :::*/
[class^="Sidebar-sidebar-"] {
  border-right: 1px solid #000;

  background-color: rgba(0,0,0,.04);
}

[class^="ServerMenuButton-serverMenuButton-"],
[class^="ServerMenuButton-serverMenuButton-"]:hover {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;

  background: transparent !important;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::: projects I'm working on now :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

