@-moz-document domain("trakt.tv") {
section {
    background-color: #1F1F1F !important;
    color: #FFFFFF;
}

body.comments #info-wrapper .above-comment-bg,
body.comments_season #info-wrapper .above-comment-bg,
body.comments_episode #info-wrapper .above-comment-bg,
body.list_comments #info-wrapper .above-comment-bg comment blockquote {
    background-color: #1F1F1F;
}

body.comments #info-wrapper .info #read .comment-wrapper .comment blockquote,
body.comments_season #info-wrapper .info #read .comment-wrapper .comment blockquote,
body.comments_episode #info-wrapper .info #read .comment-wrapper .comment blockquote,
body.list_comments #info-wrapper .info #read .comment-wrapper .comment blockquote {
    background-color: #1F1F1F;
}

.custom-list .list-info .info .overview[data-readmore][aria-expanded="false"] .shade {
    width: 0%;
}

.comment-wrapper .comment blockquote {
    background-color: #1F1F1F;
}

.summary-activity .tabs .tab {
    border: solid 1px #ED1C24;
    color: #FFFFFF;
}

#info-wrapper .info #actors .posters ul li .character {
    color: #FFFFFF;
}

#episodes-wrapper .under-info .titles {
    background-color: #1F1F1F;
}

#episodes-wrapper .under-info h3 a {
    color: #ED1C24;
}

#episodes-wrapper .episode-stats a {
    color: #FDFDFD !important;
}

.seasons {
    background-color: #3b3b3b !important;
    width: 85% !important;
    margin-left: 3% !important;
    border-radius: 15px;
    text-align: center;
}

.season-toggle {
    color: #FFFFFF !important;
}

.poster {
    visibility: hidden;
}

.poster .real {
    visibility: visible;
    border-radius: 5px;
}

.fanart {
    visibility: hidden;
}

.fanart .shadow-base {
    visibility: visible !important;
}

.fanart .titles {
    visibility: visible !important;
}

.fanart .real {
    visibility: visible;
    border-radius: 5px !important;
}

.btn-default {
    background-color: transparent !important;
    color: #FFFFFF !important;
    border: 1px solid #ED1C24 !important;
}

.dropdown .btn-default {
    background-color: transparent !important;
    color: #FFFFFF !important;
    border: 1px solid #ED1C24 !important;
}

.dropdown .btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .btn-default.dropdown-toggle {
    background-color: #ED1C24 !important;
    color: #FFFFFF !important;
    border-color: transparent !important;
}

.quick-icons {
    border-width: 0px !important;
    margin-top: 5px !important;
    border-radius: 5px !important;
    background-color: transparent !important;
}

.pagination li a {
    background-color: transparent !important;
    color: #FFFFFF !important;
}

.alert {
    background-color: transparent !important;
    border: 1px solid #ED1C24 !important;
    color: #FFFFFF !important;
}

.popover {
    background-color: #F1F1F1 !important;
}

.popover.with-list .popover-content {
    background-color: #1D1D1D;
}

.popover-title {
    color: #ED1C24 !important;
    background-color: #1F1F1F !important;
    border-bottom: 1px solid #FF0000 !important;
}

ul.lists li {
    color: #CC1C22 !important;
}

.btn-cancel {
    color: #ED1C24 !important;
}

.users-wrapper {
    background-color: transparent !important;
    border-width: 0px !important;
}

.subnav-wrapper {
    background-color: #1F1F1F !important;
}

textarea {
    background-color: transparent !important;
    color: #FFFFFF !important;
    border: 1px solid #ED1C24 !important;
    border-top-width: 0px !important;
}

.above-comment {
    background-color: transparent !important;
    border: 1px solid #ED1C24 !important;
}

.comment-wrapper.list .above-comment .user-name h4 a.username {
    color: #FFFFFF;
}

.comment-wrapper {
    border-width: 0px !important;
    background-color: transparent !important;
}

.comment-wrapper .interactions,
#main-comment .interactions {
    font-size: 15px;
}

.comment-wrapper.wider .above-comment .interactions a {
    margin: 20px;
}

#info-wrapper .sidebar .external li a {
    color: #FFFFFF !important;
}

#info-wrapper .sidebar .sections li a:hover {
    color: #FFFFFF !important;
}

#main-search {
    background: #1F1F1f !important;
}

.btn-list {
    background-color: transparent !important;
}

.btn-list:hover {
    background-color: #009EDF !important;
}

.btn-watch {
    background-color: transparent !important;
}

.btn-watch:hover {
    background-color: #8E44AD !important;
}

.btn-collect {
    background-color: transparent !important;
}

.btn-collect:hover {
    background-color: #16A085 !important;
}

.btn-checkin {
    color: #ED1C24 !important;
    background-color: transparent !important;
}

.btn-checkin:hover {
    color: #FFFFFF !important;
    background-color: #ED1C24 !important;
}

.btn-comment {
	background-color: transparent !important;
}

.btn-comment:hover {
	background-color: #6e7a83 !important;
}

.season-links {
    background-color: transparent !important;
    border-top: 1px solid #ED1C24 !important;
    border-bottom: 1px solid #ED1C24 !important;
}

@keyframes fade-in {
    from {
        color: #FFFFFF;
    }
    to {
        color: #ED1C24;
    }
}

@keyframes fade-out {
    from {
        color: #ED1C24;
    }
    to {
        color: #FFFFFF;
      }
}

.fa-heart-o {
    animation-name: fade-out;
    animation-duration: 0.5s;
    color: #FFFFFF;
}

.fa-heart-o:hover {
    animation-name: fade-in;
    animation-duration: 0.5s;
    color: #ED1C24;
}

.selected {
    color: #ED1C24 !important;
}

.actions {
    color: #FFFFFF !important;
}

.quick-icons .actions a.watch:hover,
.quick-icons .actions a.watch.selected {
    color: #FFFFFF !important;
}

.quick-icons .actions a.collect:hover,
.quick-icons .actions a.collect.selected {
    color: #FFFFFF !important;
}

.quick-icons .actions a.list:hover,
.quick-icons .actions a.list.selected {
    color: #FFFFFF !important;
}

.panel {
    background-color: transparent !important;
    border: 1px solid #ED1C24 !important;
}

.panel-heading {
    color: #FFFFFF !important;
    background-color: #ED1C24 !important;
    border-width: 0px !important;
}

.panel-body input,
#list-name {
    background-color: transparent !important;
    border: 1px solid #ED1C24 !important;
    color: #FFFFFF !important;
}

td,
td:hover {
    color: #ff0000;
    background-color: #1F1F1F
}

h3.instructions {
    background-color: #1f1f1f
}

#avatar-file-upload {
    background-color: transparent !important;
    color: #ED1C24 !important;
    border-color: #ED1C24 !important;
}

#avatar-file-upload:hover {
    background-color: #ED1C24 !important;
    color: #FFFFFF !important;
}

#user_about {
    border: 1px solid #ED1C24 !important;
    color: #FFFFFF !important;
}

.panel-body select {
    background-color: #1F1F1F !important;
    border: 1px solid #ED1C24 !important;
    color: #E40A0A !important;
}

.filter-dropdown .icon.trakt-icon-divider {
    margin-top: 2px;
    color: #E4E3E3;
}

.close {
    color: #FFFFFF !important;
}

.checkin-modal {
    background-color: #1F1F1F !important;
}

.checkin-modal .form-signin .fanarts .fanart img {
    border-radius: 0px !important;
}

.checkin-modal .form-inputs textarea {
    border: 1px solid #ED1C24 !important;
}

.posters .poster-under {
    background-color: #1F1F1F !important;
    color: #FFFFFF !important;
}

.titles-link {
    color: #E01C24 !important;
}

.activity-date {
    background-color: #232121 !important;
}

#boxes-wrapper .row .last-comment h3 span {
    font-family: "Proxima Nova";
    left: 70px;
    font-size: 15px;
    margin-right: 0px;
}

#boxes-wrapper .row .last-comment {
    background-color: #1F1F1F;
}

#boxes-wrapper .row .stats {
    background-color: #1F1F1F;
}

#boxes-wrapper .row .stats .bottom-shade {
    background-color: #1F1F1F;
}

#boxes-wrapper .row .stats .under-stat {
    color: #ED2626;
}

#boxes-wrapper .row .stat-box {
    border: 1px solid #ED1C24;
}

#faq-wrapper p {
    color: #000 !important;
}

#schedule-wrapper .poster-wrapper .poster {
    visibility: visible !important;
}

.titles-link h3 {
    color: #FFFFFF !important;
}

.titles-link h4 {
    color: #ABABAB !important;
}

.interactions,
.above-comment {
    border: 1px solid transparent !important;
}

.username,
.quote {
    color: #ABABAB !important;
}

.above-comment-bg {
    background-color: #454545 !important;
}

#header-search {
    background-color: #202020 !important;
}
}

@-moz-document domain("trakt.tv") {
.welcome,
#huckster-content-page,
#huckster-desktop-wrapper,
#huckster-desktop-top,
#huckster-desktop-bottom,
#posters.huckster {
    display: none;
}

.huckster-grid-item.grid-item {
    display: none;
}

.huckster {
    display: none;
}

#huckster-sidenav {
    display: none
}

#info-wrapper .streaming-links .section {
    display: none
}

.col-sm-6.col-md-4.col-xlg-3.huckster-grid-item.grid-item {
    display: none;
}
}

@-moz-document url-prefix("https://trakt.tv/users/journey-over"), url-prefix("http://trakt.tv/users/journey-over") {
#cover-wrapper {
    background-image: url(https://goo.gl/oazJ7A) !important;
}
}
