/*::: Trailers/opening & Closing Credits :::*/
/*::: I didn't see "imdb" links, but they're pretty common so we'll attempt to include them :::*/
#info-wrapper .streaming-links .section .title,
#info-wrapper .streaming-links .section a:not([href*="youtube"]):not([href*="imdb"]) {
  display: none!important;
}

/*::: Assuming .title has no unique selector, it has been removed, so we'll recreate it :::*/
#info-wrapper .streaming-links .section a[href*="youtube"]:first-of-type:before {
  content: "Videos";
  pointer-events: none;
  position: absolute;
  font-size: 14px;
  font-family: "Proxima Nova Semibold";
  text-transform: uppercase;
  color: var(--second-color);
  margin: -23px 0 0 -1px;
}

#info-wrapper .streaming-links .section {
  margin-top: 22px !important;
}