Place below code under /*::: Profile Header :::*/ if you want a custom header change /*[[url]]*/ to point to a image url

/*::: Profile Header :::*/
#cover-wrapper .full-bg {
  background-image: url("/*[[url]]*/") !important;
}

#cover-wrapper #backdrop-info {
  display: none !important;
}

place below code below /*::: VIP/AD Blocking :::*/ if you dont want ads.

[class*=huckster],
[id*=huckster] {
  display: none !important;
}

a[href='/vip/filtering'] {
  display: block !important;
  opacity: 1 !important;
  width: initial !important;
  height: initial !important;
}