@-moz-document url-prefix("https://trakt.tv") {

/*:: Hide Ads ::*/
[class*="huckster"],
[id*="huckster"] {
  display: none !important;
}

/*:: Hide Shop ::*/
[id*="header-shop"],
.popover-shop {
  display: none;
}

/*:: Hide VIP Stuff ::*/
a[href*="/vip/"],
a[href*="/widgets"],
a[href*="/year"],
a[href*="/forums"],
[data-tooltip="RSS Feed"],
[data-tooltip="iCal Feed"],
[data-tooltip="CSV Export"],
[data-tooltip="Notifications"],
[data-title="Create a custom calendar"],
[data-title="Clone into your account"] {
  display: none !important;
}

}
