@-moz-document domain("trakt.tv") {

/* ++----------------------------------------------------------------------------------++ */
/* ||                                                                                  || */
/* ||* Name        : Trakt.tv Dark                                                     || */
/* ||                                                                                  || */
/* ||* Author      : JourneyOver                                                       || */
/* ||                                                                                  || */
/* ||* Created     : 03 / 17 / 2016                                                    || */
/* ||                                                                                  || */
/* ||* Updated     : 05 / 22 / 2017                                                    || */
/* ||                                                                                  || */
/* ||* Version     : 2.4.11                                                            || */
/* ||                                                                                  || */
/* ||* Copyright   : 2016-2017                                                         || */
/* ||                                                                                  || */
/* ++----------------------------------------------------------------------------------++ */
}

@-moz-document domain("trakt.tv") {
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::: SETTINGS :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

:root {
  --bg: #2c2c33 !important;             /*  var(--bg) blue  */
  --bg2: #2a2a31 !important;             /*  var(--bg2) a bit darker blue  */
  --bg-dark: #1d1e22 !important;             /*  var(--bg-dark) darker blue  */
  --border: #000102 !important;             /* var(--border) Black Border */
  --first-color: #fff !important;             /* var(--first-color) white  */
  --second-color: #888 !important;             /* var(--second-color) grey  */
  --third-color: #16a085 !important;             /* var(--third-color) darker Keppel  */
  --fourth-color: #009edf !important;             /* var(--fourth-color) blue  */
  --fifth-color: #f00 !important;             /* var(--fifth-color) red  */
  --sixth-color: #000 !important;             /* var(--sixth-color) black  */
  --seventh-color: #8e44ad !important;             /* var(--seventh-color) purple  */
  --eight-color: #6e7a83 !important;             /* var(--eight-color) light blue-grey  */
  --transparent1: rgba(29, 30, 34, .65) !important;             /* var(--transparent1) */
  --transparent2: rgba(0, 0, 0, .75) !important;             /* var(--transparent2) */
  --transparent3: rgba(0, 0, 0, .5) !important;             /* var(--transparent3) */
  --transparent4: rgba(0, 0, 0, .10) !important;             /* var(--transparent4) */
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::: THEME :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: Main Global :::*/

/*::: HP Trakt Logo :::*/
.trakt-full img {
  visibility: hidden !important;
}

.trakt-full {
  border-bottom: none !important;
  background: url("https://raw.githubusercontent.com/JourneyOver/Userstyles/dev/trakt.tv/img/Trakt_TV_Header_Logo.png") no-repeat !important;
}

/*::: HP Join Trakt.tv Buttons :::*/
#watching-wrapper .btn-primary {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

#watching-wrapper .btn-primary:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

body.main.home header#top-nav.scrolled .btn-primary {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

body.main.home header#top-nav.scrolled .btn-primary:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

/*::: HP Scrobble & sync
from your media center. :::*/
#scrobblers-wrapper .full-screenshot.lazy.enabled {
  background-image: url("https://services.tegrazone.com/sites/default/files/article-feature-images/plex-media-server.jpg") !important;
}

#scrobblers-wrapper .btn-primary {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

#scrobblers-wrapper .btn-primary:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

/*::: HP Find where to watch TV & movies. :::*/
#watchnow-wrapper .shade {
  display: none !important;
}

/*::: HP Apps for all
your devices. :::*/
#apps-wrapper .btn-primary {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

#apps-wrapper .btn-primary:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

/*::: HP Create using the API :::*/
#api-wrapper .full-screenshot.lazy.enabled,
#api-wrapper {
  border-top: none !important;

  background-image: none !important;
}

#api-wrapper .shade {
  display: none !important;
}

#api-wrapper .btn-primary {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

#api-wrapper .btn-primary:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

/*::: Background + footer background :::*/
section {
  color: var(--first-color) !important;
  background-color: var(--bg-dark) !important;
}

footer {
  background: var(--bg-dark) !important;
}

#main-search {
  background: var(--bg-dark) !important;
}

#main-search input.footer-search {
  color: var(--first-color) !important;
  background: transparent !important;
}

/*::: Navigation Menu :::*/
.no-touch header#top-nav,
.no-touch header#top-nav:hover {
  background: var(--transparent1) !important;
}

/*::: Navigation Menu Logo IMG :::*/
#top-brand img {
  visibility: hidden !important;
}

#top-brand {
  width: 65px !important;
  height: 65px !important;

  background: url("https://raw.githubusercontent.com/JourneyOver/Userstyles/dev/trakt.tv/img/Trakt_TV_Header_Logo.png") no-repeat !important;
}

header#top-nav #top-brand .bottom-wrapper .bottom,
.no-touch header#top-nav:hover #top-brand .bottom-wrapper .bottom {
  background: none !important;
}

header#top-nav #top-brand .bottom-wrapper {
  overflow: hidden !important;

  position: static !important;
  bottom: 0 !important;
  z-index: -1 !important;

  width: 65px !important;
  height: 1px !important;
}

/*::: Navigation Menu User Menu :::*/
#user-menu {
  background: var(--transparent1) !important;
}

/*::: Header Search :::*/
#header-search,
header#top-nav #header-search #header-search-button.btn-primary {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

#header-search:hover,
header#top-nav #header-search #header-search-button.btn-primary:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

header#top-nav #header-search #header-search-query.open {
  color: var(--first-color) !important;
  background: transparent !important;
}

header#top-nav #header-search #header-search-type.shown .dropdown-toggle {
  border-left: transparent !important;

  color: var(--first-color) !important;
  background: transparent !important;
}

header#top-nav #header-search #header-search-type.shown .dropdown-menu {
  background: var(--bg) !important;
}

header#top-nav #header-search #header-search-type.shown .dropdown-menu {
  background: var(--bg) !important;
}

header#top-nav #header-search #header-search-type a {
  color: var(--first-color) !important;
  background: var(--bg) !important;

  cursor: pointer !important;
}

header#top-nav #header-search #header-search-type a:hover {
  color: var(--fifth-color) !important;
  background: var(--bg) !important;
}

/*::: Alert :::*/
.alert {
  border: 1px solid var(--sixth-color) !important;

  color: var(--first-color) !important;
  background-color: transparent !important;
}

/*::: Toast :::*/
#toast-container.toast-top-full-width .toast.toast-success {
  border: 1px solid var(--sixth-color) !important;

  color: var(--first-color) !important;
  background-color: transparent !important;
}

/*::: watchlist/collections Dropdown Menu :::*/
.quick-icons .actions .popover .popover-title {
  color: var(--first-color) !important;
}

.popover.remove .popover-content,
.popover.with-list .popover-content {
  background-color: var(--bg-dark) !important;
}

.popover-title {
  border-bottom: 1px solid var(--bg2) !important;

  background-color: var(--bg-dark) !important;
}

ul.lists li {
  color: var(--second-color) !important;
}

ul.lists li.selected {
  color: var(--first-color) !important;
}

.popover.remove .popover-content > button,
.popover.remove .popover-content > button.btn-cancel {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.popover.remove .popover-content > button.btn-cancel:hover,
.popover.remove .popover-content > button:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

/*::: Add To Collection *Metadata*  :::*/
.popover .metadata-wrapper {
  background-color: var(--bg-dark) !important;
}

.popover i.add-metadata {
  color: var(--first-color) !important;
}

.popover .metadata-wrapper button {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.popover .metadata-wrapper button:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

/*::: Add To Collection *Other Date*  :::*/
.popover .data-wrapper input {
  color: var(--first-color) !important;
  background: var(--bg-dark) !important;
}

.popover .data-wrapper {
  background-color: var(--bg) !important;
}

.popover .data-wrapper .xdsoft_datetimepicker.xdsoft_inline {
  border-top: 1px solid var(--bg2) !important;

  background-color: var(--bg) !important;
}

.popover .data-wrapper .xdsoft_datetimepicker.xdsoft_inline button {
  opacity: 1 !important;
}

.popover .data-wrapper .xdsoft_datetimepicker.xdsoft_inline .xdsoft_month,
.popover .data-wrapper .xdsoft_datetimepicker.xdsoft_inline .xdsoft_year {
  color: var(--first-color) !important;
}

.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select {
  background: var(--bg) !important;
}

.generic-datepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div {
  background: var(--bg-dark) !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td,
.xdsoft_datetimepicker .xdsoft_calendar th,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div {
  font-size: 13px !important;

  color: var(--first-color) !important;
  background: var(--bg) !important;
}

/*::: Avatars on various pages  :::*/
.user-avatar img {
  display: block !important;

  margin-left: 5px !important;
  border: solid 1px var(--border) !important;
  border-radius: 0 !important;
  width: 100% !important;

  background-color: var(--bg-dark) !important;
}

.user-avatar .corner-rating {
  right: -5px !important;
}

.comment-wrapper .above-comment .user-avatar .corner-rating .text {
  right: -17px !important;
}

/*::: Fanart/Poster images  :::*/
.fanart {
  visibility: hidden !important;
}

.fanart .shadow-base {
  visibility: visible !important;
}

.fanart .titles {
  visibility: visible !important;
}

.fanart .real {
  visibility: visible !important;

  border-radius: 5px !important;
}

.poster {
  visibility: hidden !important;
}

.poster .real {
  visibility: visible !important;

  border-radius: 5px !important;
}

.poster-wrapper .poster,
.posters .poster-items-wrapper {
  visibility: visible !important;
}

.posters .poster {
  border: hidden !important;
}

/*::: Show Ratings on Posters :::*/
.corner-rating {
  visibility: visible !important;
}

/*::: Quick Icons :::*/
.titles-link h3 {
  color: var(--first-color) !important;
}

.titles-link h4 {
  color: var(--second-color) !important;
}

.quick-icons {
  margin-top: 2px !important;
  border-width: 0 !important;

  background-color: var(--transparent4) !important;
}

.quick-icons .actions a.watch.selected,
.quick-icons .actions a.watch:hover {
  color: var(--first-color) !important;
}

.quick-icons .actions a.collect.selected,
.quick-icons .actions a.collect:hover {
  color: var(--first-color) !important;
}

.quick-icons .actions a.list.selected,
.quick-icons .actions a.list:hover {
  color: var(--first-color) !important;
}

.quick-icons .actions a.ignore.selected,
.quick-icons .actions a.ignore:hover {
  color: var(--first-color) !important;
}

/*::: Divider/Eye/Cal/Rss/CSV icons + See more text :::*/
.see-more {
  color: var(--second-color) !important;
}

.see-more:hover {
  color: var(--first-color) !important;
}

.feed-icons .feed-icon {
  color: var(--second-color) !important;
}

.feed-icons .feed-icon:hover {
  color: var(--first-color) !important;
}

.filter-dropdown .hide-dividers .icon {
  color: var(--second-color) !important;
}

.filter-dropdown .hide-dividers .icon:hover {
  color: var(--first-color) !important;
}

.filter-dropdown .selected .caret,
.filter-dropdown .selected .icon,
.filter-dropdown.selected .caret,
.filter-dropdown.selected .icon {
  color: var(--first-color) !important;
}

.filter-dropdown .icon .line {
  background: var(--first-color) !important;
}

.filter-dropdown .dropdown-toggle {
  color: var(--second-color) !important;
}

.filter-dropdown .dropdown-toggle:hover {
  color: var(--first-color) !important;
}

.subnav-wrapper .right .feed-icon .icon {
  color: var(--second-color) !important;
}

.subnav-wrapper .right .feed-icon .icon:hover {
  color: var(--first-color) !important;
}

/*::: Twitter Button :::*/
.btn-twitter {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.btn-twitter:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

/*::: Facebook Button :::*/
.btn-facebook {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.btn-facebook:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

/*::: Google+ Button :::*/
.btn-google-plus,
.btn-gplus {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.btn-google-plus:hover,
.btn-gplus:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

/*::: Tumblr Button :::*/
.btn-tumblr {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.btn-tumblr:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

/*::: Medium Button :::*/
.btn-medium {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.btn-medium:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

/*::: Profile Globals :::*/

/*::: Profile Header :::*/
/*[[Pheader]]*/

#cover-wrapper .shadow {
  display: none !important;
}

#cover-wrapper #avatar-wrapper .avatar {
  border: 0 !important;
  border-radius: 1% !important;

  background-color: transparent !important;
}

#cover-wrapper #backdrop-info a,
#cover-wrapper #backdrop-info a .year {
  color: var(--first-color) !important;
}

/*::: Links Wrapper :::*/
#links-wrapper {
  background: var(--transparent1) !important;
}

/*::: All Types/All Ratings/Recently Rated/Watched,
Recently Watched/Recently Collected/Personal Lists,
Rank/Comments/Recently Added dropdowns/Friends :::*/
.btn-default {
  border: 1px solid var(--border) !important;

  color: var(--first-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.dropdown .btn-default {
  border: 1px solid var(--border) !important;

  color: var(--first-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.btn-default.active,
.btn-default:active,
.btn-default:focus,
.dropdown .btn-default:hover,
.open > .btn-default.dropdown-toggle {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.dropdown-menu,
.dropdown-menu > li > a {
  color: var(--second-color) !important;
  background: var(--bg-dark) !important;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: var(--first-color) !important;
  background: var(--sixth-color) !important;
}

/*::: Items/Plays/Watched/TLTW/Shows/lists/comments/People Count :::*/
.above-comment {
  background-color: transparent !important;
}

.comment-wrapper {
  border-width: 0 !important;

  background-color: transparent !important;
}

.new-comment-wrapper textarea {
  background-color: rgb(42, 44, 49) !important;
}

.new-comment-wrapper .formatting-help {
  background-color: transparent !important;
}

#main-comment .interactions,
.comment-wrapper .interactions {
  font-size: 13px !important;
}

.comment-wrapper.wider .above-comment .interactions a {
  margin: 15px !important;

  color: var(--first-color) !important;
}

/*::: Page numbers :::*/
.pagination li a {
  color: var(--first-color) !important;
  background-color: transparent !important;
}

/*::: Comments :::*/

/*::: Thumbs Up Button :::*/
.comment-wrapper .above-comment .selected {
  color: var(--fifth-color) !important;
}

/*::: Date and Time :::*/
.comment-wrapper .above-comment .date {
  font-family: "Proxima Nova" !important;

  color: var(--first-color) !important;
}

/*::: Add Comment :::*/
.new-comment-focus.main {
  font-size: 13px !important;

  color: var(--second-color) !important;
}

.new-comment-focus.main:hover {
  font-size: 13px !important;

  color: var(--first-color) !important;
}

/*::: reply Box :::*/
.new-reply-wrapper .reply-field textarea {
  border: solid 1px var(--border) !important;

  background-color: var(--bg) !important;
}

.new-reply-wrapper .buttons .comment-submit {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.new-reply-wrapper .buttons .comment-submit:active,
.new-reply-wrapper .buttons .comment-submit:hover {
  border: 1px solid var(--border) !important;

  color: var(--first-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

/*::: Spoiler Stuff :::*/
.comment-wrapper .comment.visible pre {
  border: 0 !important;

  word-wrap: normal !important;
  word-break: normal !important;

  color: var(--first-color) !important;
  background-color: var(--bg-dark) !important;
}

.comment-wrapper .comment code {
  border: 0 !important;
}

/*::: TV/Movies/Calender/Discover page :::*/

/*::: Body :::*/
.frame-wrapper {
  background-color: var(--bg-dark) !important;
}

.frame-wrapper #huckster-desktop-wrapper.visible {
  display: block !important;

  padding: 0 !important;

  background: var(--bg-dark) !important;
}

.container-fluid {
  background: var(--bg-dark) !important;
}

/*::: End Globals :::*/

/*::: Sign in page :::*/

/*::: Trakt Logo :::*/
#auth-form-wrapper .logo-wrapper .logo,
.checkin-modal .logo-wrapper .logo {
  background: url("https://raw.githubusercontent.com/JourneyOver/Userstyles/dev/trakt.tv/img/Trakt_TV_Login.png") no-repeat !important;
  background-size: 128px 128px !important;
}

/*::: Login form :::*/
#auth-form-wrapper,
.checkin-modal {
  border-radius: 1px !important;

  color: var(--second-color) !important;
  background-color: var(--bg-dark) !important;
}

/*::: Text area :::*/
.form-control {
  border: 1px solid var(--border) !important;

  color: var(--first-color) !important;
  background-color: var(--bg-dark) !important;
}

/*::: Sign-in Button :::*/
#auth-form-wrapper .btn-primary,
.checkin-modal .btn-primary {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

#auth-form-wrapper .btn-primary:hover,
.checkin-modal .btn-primary:hover {
  border: 1px solid var(--border) !important;

  color: var(--first-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

/*::: Bottom Section of login form :::*/
#auth-form-wrapper .bottom-wrapper,
.checkin-modal .bottom-wrapper {
  border-top: solid 1px var(--bg2) !important;

  color: var(--second-color) !important;
  background-color: var(--bg-dark) !important;
}

/*::: Apps Page :::*/
#apps-icon-wrapper {
  background: var(--bg-dark) !important;
}

.btn-group.in-wrapper .btn {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.btn-group.in-wrapper .btn:hover {
  border: 1px solid var(--border) !important;

  color: var(--first-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.btn-group.in-wrapper .btn-primary {
  border: 1px solid var(--border) !important;

  color: var(--fifth-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

/*::: Dashboard :::*/

/*::: On deck to watch :::*/
#ondeck-wrapper .posters .titles-link {
  color: var(--first-color) !important;
}

/*::: Avatar :::*/
#results-top-wrapper.user-wrapper .user-avatar img {
  border-width: 0 !important;
  border-color: var(--bg-dark) !important;

  background-color: var(--bg-dark) !important;
}

/*::: Stats Wrapper :::*/
#results-top-wrapper.user-wrapper .stats-wrapper {
  background-color: var(--bg2) !important;
}

/*::: Last 30 days at a glance :::*/
#charts-wrapper h3 {
  color: var(--first-color) !important;
}

#charts-wrapper .genre-bars.light .bar label {
  color: var(--first-color) !important;
}

/*::: Network Activity :::*/
#network-wrapper .posters .poster-under {
  color: var(--first-color) !important;
  background-color: transparent !important;
}

#network-wrapper .posters .poster-under .text a.username {
  color: var(--first-color) !important;
}

#network-wrapper .posters .poster-under .text a {
  color: var(--first-color) !important;
}

#network-wrapper .posters .activity-date {
  color: var(--first-color) !important;
  background-color: var(--bg2) !important;
}

/*::: profile page :::*/

/*::: About/Last Watched/WATCHED TV SHOWS/MOST WATCHED TV SHOW,
MOST WATCHED MOVIE/FEATURED LIST/FAVORITE GENRES :::*/
#boxes-wrapper .row .stat-box {
  border: 1px solid var(--border) !important;
}

#boxes-wrapper .row .last-comment h3 span,
#boxes-wrapper .row .stat-box .shade h3,
#boxes-wrapper .row .stat-box .shade h4,
#boxes-wrapper .row .stat-box h2 {
  left: 70px !important;

  margin-right: 0 !important;

  font-family: "Proxima Nova" !important;
  font-size: 15px !important;
}

#boxes-wrapper .row .last-comment h3 .fa {
  margin: 0 !important;

  font-size: 30px !important;
}

#boxes-wrapper .row .last-comment {
  background-color: var(--bg-dark) !important;
}

#boxes-wrapper .row .stats,
#boxes-wrapper .row .stats .bottom-shade {
  background-color: var(--bg-dark) !important;
}

#boxes-wrapper .row .stats .under-stat {
  color: var(--fifth-color) !important;
}

#boxes-wrapper .row .stat-box {
  background-color: var(--bg-dark) !important;
}

#boxes-wrapper .row .stat-box .see-more {
  color: var(--first-color) !important;
}

/*::: Favorites :::*/
#favorites-wrapper.col-stat.alt {
  background: transparent !important;
}

/*::: Ratings :::*/
#chart-ratings-wrapper.col-stat.alt {
  background: transparent !important;
}

#chart-ratings-wrapper #chart-ratings {
  border: 1px solid var(--border) !important;
}

/*::: Progress Page :::*/

/*::: Season Bar :::*/
.seasons {
  margin-left: 3% !important;
  border-radius: 15px !important;
  width: 85% !important;

  text-align: center !important;

  background-color: var(--bg2) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.season-toggle {
  color: var(--first-color) !important;
}

/*::: Lists Page :::*/

/*::: Add List / Reorder :::*/
#btn-list-add,
#btn-list-edit-lists {
  font-size: 13px !important;

  color: var(--second-color) !important;
}

#btn-list-add:hover,
#btn-list-edit-lists.active,
#btn-list-edit-lists:hover {
  font-size: 13px !important;

  color: var(--first-color) !important;
}

#btn-list-edit-lists .icon {
  transition: all 0s !important;
}

/*::: Sort Direction :::*/
#sort-direction {
  color: var(--second-color) !important;
}

#sort-direction.selected {
  color: var(--first-color) !important;
}

/*::: by *name* color :::*/
.comment-wrapper.list .above-comment .user-name h4 a.username {
  color: var(--first-color) !important;
}

/*::: create custom calander icon :::*/
.custom-list .list-info .user-actions .icon.btn-list-clone,
.custom-list .list-info .user-actions .icon.btn-list-subscribe {
  color: var(--first-color) !important;
}

.comment-wrapper.list .selected {
  color: var(--fifth-color) !important;
}

/*::: Get rid of white shade on bottom of list overview :::*/
.custom-list .list-info .info .overview[data-readmore][aria-expanded="false"] .shade,
.subnav-text .text[data-readmore][aria-expanded="false"] .shade {
  width: 0 !important;
}

/*::: clone and subscribe buttons :::*/
.subnav-wrapper .left h2 .right a {
  color: var(--second-color) !important;
}

.subnav-wrapper .left h2 .right a:hover {
  color: var(--first-color) !important;
}

/*::: Show Page :::*/

/*::: Rate this show :::*/
@keyframes fade-in {
  from {
    color: var(--first-color) !important;
  }
  to {
    color: var(--fifth-color) !important;
  }
}

@keyframes fade-out {
  from {
    color: var(--fifth-color) !important;
  }
  to {
    color: var(--first-color) !important;
  }
}

.fa-heart-o {
  color: var(--first-color) !important;

  animation-name: fade-out !important;
  animation-duration: .5s !important;
}

.fa-heart-o:hover {
  color: var(--fifth-color) !important;

  animation-name: fade-in !important;
  animation-duration: .5s !important;
}

/*::: Checkin/Watched/Collection/Add to List/Comment :::*/
.btn-checkin {
  color: var(--fifth-color) !important;
  background-color: transparent !important;
}

.btn-checkin:hover {
  color: var(--first-color) !important;
  background-color: var(--fifth-color) !important;
}

.btn-watch {
  background-color: transparent !important;
}

.btn-watch:hover {
  background-color: var(--seventh-color) !important;
}

.btn-collect {
  background-color: transparent !important;
}

.btn-collect:hover {
  background-color: var(--third-color) !important;
}

.btn-list {
  background-color: transparent !important;
}

.btn-list:hover {
  background-color: var(--fourth-color) !important;
}

.btn-comment {
  background-color: transparent !important;
}

.btn-comment:hover {
  background-color: var(--eight-color) !important;
}

/*::: Sidebar Watch Now :::*/
.btn-watch-now {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.btn-watch-now:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.streaming-links .title {
  border-bottom: solid 1px var(--bg) !important;
}

/*::: Sidebar Navigation :::*/
.sidebar .sections li a {
  color: var(--second-color) !important;
}

.sidebar .sections li a:hover {
  color: var(--first-color) !important;
}

.sidebar .external li a {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.sidebar .external li a:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

/*::: Trailers/opening & Closing Credits :::*/
.affiliate-links .section {
  margin-top: 22px !important;
}

.affiliate-links .section a {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.affiliate-links .section a:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

/*::: Summary and user activity :::*/
.summary-activity .tabs .tab {
  border: 1px solid var(--border) !important;

  color: var(--first-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;

  transition: all 0s !important;
}

.summary-activity .tabs .tab:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg2) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;

  transition: all 0s !important;
}

.summary-activity .tabs .tab.selected {
  border: 1px solid var(--border) !important;

  color: var(--first-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;

  transition: all 0s !important;
}

.summary-activity .tabs .tab.selected:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg2) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;

  transition: all 0s !important;
}

.summary-activity .tab-content .tab-pane .users-wrapper {
  border: 1px solid var(--border) !important;

  color: var(--first-color) !important;
  background: var(--bg2) !important;
}

/*::: Actors :::*/
#info-wrapper .info #actors .posters ul li .character {
  color: var(--first-color) !important;
}

#info-wrapper .info #actors .posters ul:hover li .titles .name {
  color: var(--first-color) !important;

  opacity: 1 !important;
}

.tooltip-inner {
  border: 1px solid var(--border) !important;

  color: var(--first-color) !important;
  background-color: var(--bg) !important;
}

.tooltip .alt {
  color: var(--first-color) !important;
}

/*::: Seasons Page :::*/

/*::: season navigation bar :::*/
.subnav-wrapper {
  background-color: var(--bg-dark) !important;
}

.season-links {
  border-top: 1px solid var(--border) !important;
  border-bottom: 1px solid var(--border) !important;

  color: var(--second-color) !important;
}

.season-links .links ul li a {
  color: var(--second-color) !important;
}

.season-links .links ul li a.selected {
  color: var(--first-color) !important;
}

.season-links .links ul li a:hover {
  color: var(--first-color) !important;
}

/*::: Episode Info :::*/
.under-info .titles {
  border: 1px solid var(--border) !important;

  background-color: var(--bg2) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.under-info h3 a {
  color: var(--fifth-color) !important;
}

#seasons-episodes-sortable .episode-stats a {
  color: var(--first-color) !important;
}

/*::: Comments page :::*/
body.comments #info-wrapper .above-comment-bg,
body.comments_episode #info-wrapper .above-comment-bg,
body.comments_season #info-wrapper .above-comment-bg,
body.list_comments #info-wrapper .above-comment-bg comment blockquote {
  background-color: var(--bg-dark) !important;
}

body.comments #info-wrapper .info #read .comment-wrapper .comment blockquote,
body.comments_episode #info-wrapper .info #read .comment-wrapper .comment blockquote,
body.comments_season #info-wrapper .info #read .comment-wrapper .comment blockquote,
body.list_comments #info-wrapper .info #read .comment-wrapper .comment blockquote {
  background-color: var(--bg-dark) !important;
}

.comment-wrapper .comment blockquote {
  background-color: var(--bg-dark) !important;
}

/*::: Shouts page :::*/
body.comments #info-wrapper .above-comment-bg,
body.comments_episode #info-wrapper .above-comment-bg,
body.comments_liked #info-wrapper .above-comment-bg,
body.comments_season #info-wrapper .above-comment-bg,
body.list_comments #info-wrapper .above-comment-bg {
  background-color: var(--bg-dark) !important;
}

/*::: Settings Page :::*/

/*::: General :::*/
.panel-default {
  border-color: var(--border) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

.panel-heading {
  border-color: var(--border) !important;

  color: var(--first-color) !important;
  background-color: var(--bg-dark) !important;
}

.panel-body {
  border-color: var(--border) !important;

  color: var(--first-color) !important;
  background-color: var(--bg-dark) !important;
}

.input-group .form-control:first-child {
  border-color: var(--border) !important;

  color: var(--first-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

#avatar-file-upload {
  border-color: var(--border) !important;

  color: var(--first-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

#avatar-file-upload:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

body.settings .buttons .btn {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

body.settings .buttons .btn:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

/*::: Sharing and Notifications :::*/
body.settings .notifications-table .table tbody > tr > td {
  border: 1px solid var(--border) !important;
}

body.settings .notifications-table .table tbody > tr:hover {
  border: 1px solid var(--border) !important;

  color: var(--second-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

h3.instructions {
  background-color: var(--bg-dark) !important;
}

/*::: Hidden Items :::*/
body.settings .subnav-wrapper {
  border-bottom: solid 1px var(--border) !important;

  color: var(--first-color) !important;
}

/*::: Connected Apps :::*/
body.authorized_applications .subnav-wrapper {
  border-bottom: solid 1px var(--border) !important;

  color: var(--first-color) !important;
}

/*::: Your API Apps :::*/
#authorized-applications .btn-primary,
#authorized-applications .btn-success {
  border: 1px solid var(--border) !important;

  color: var(--first-color) !important;
  background: var(--bg-dark) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

#authorized-applications .btn-primary:hover,
#authorized-applications .btn-success:hover {
  border: 1px solid var(--border) !important;

  color: var(--first-color) !important;
  background: var(--transparent3) !important;

  box-shadow: 1px 1px 5px 1px var(--transparent2) !important;
}

}

@-moz-document domain("trakt.tv") {

/*::: VIP/AD Blocking :::*/
/*[[Ads]]*/

}