@-moz-document domain("userstyles.org") {
/* +------------------------------------------------------------------------------------------------------------------------+ */
/* |                                                                                                                        | */
/* |                                                 UserStyles Dark v1.0.0                                                 | */
/* |                                             Copyright 2016-2017 JourneyOver                                            | */
/* |                                                                                                                        | */
/* +------------------------------------------------------------------------------------------------------------------------+ */

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::: THEME :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*:: Body ::*/
body {
  margin: 0px;
  background-color: #090909;
  max-width: none !important;
}

/*:: Header ::*/
#main-header {
  position: fixed;
  z-index: 8;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 16px 10px 16px 230px;
  border-radius: 0;
  background-color: #111;
  color: #ccc;
  font-weight: unset;
  border-bottom: 1px solid #333;
}

#main-header h1::after {
  /* hides the dash */
  position: absolute;
  top: 23px;
  left: 222px;
  width: 20px;
  height: 20px;
  background-color: #111;
  content: "";
}

#main-header h1 a {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 16px 25px 16px 25px;
  border-right: 1px solid #333;
  text-decoration: none;
  background-color: #151515;
  color: #ccc;
  border-bottom: 1px solid #333;
}

#main-header h1 a:hover {
  color: #eee;
}

@media (max-width: 900px) {
#main-header {
  padding-left: 70px;
}

#main-header h1::after {
  /* hides the dash */
  left: 62px;
}

#main-header h1 a {
  width: 10px;
  height: 32px;
  color: transparent;
  font-size: 0px;
  background-image: url("https://raw.githubusercontent.com/JourneyOver/Userstyles/gh-pages/userstyles/Style/img/stylish_logo.png");
  background-repeat: no-repeat;
  background-position: center 14px;
  background-size: 40px 40px;
}

#main-header h1 a:hover {
  color: transparent;
}
}

/*:: Left Sidebar ::*/
#left-sidebar {
  float: none !important;
  position: fixed;
  z-index: 10;
  top: 64px;
  left: 0px;
  margin: 0 !important;
  padding: 0px;
  width: 220px;
  height: 100%;
  border-right: 1px solid #333;
  background-color: #111;
}

#left-sidebar nav {
  margin: 0;
  height: 80%;
  padding: 15px;
  border-top: 1px solid #111;
  border-radius: 0;
  background-color: transparent;
}

#left-sidebar #sidebar-search {
  margin-top: 6px;
  margin-bottom: 26px;
  color: #ccc;
}

#sidebar-search #search-terms {
  width: 100%;
  height: 32px;
  float: none;
  background: #1c1c1c;
  border: 1px solid #1c1c1c;
  color: #fff;
}

#sidebar-search #search-submit {
  position: absolute;
  right: 15px;
  float: none;
  margin: 0;
  margin-top: 0;
  width: 36px;
  height: 32px;
  border: none;
  background: none;
  background-color: transparent;
  color: transparent;
  background-image: url("https://raw.githubusercontent.com/JourneyOver/Userstyles/gh-pages/userstyles/Style/img/search_icon.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#sidebar-search:hover #search-submit {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #db8;
  cursor: pointer;
}

#sidebar-search #show-advanced-search {
  text-decoration: none;
  margin-top: 2px;
  color: #fff;
}

#advanced-search {
  display: none;
  clear: both;
  font-size: small;
  border-bottom: 1px solid gray;
  margin-bottom: 3px;
  padding-bottom: 3px;
}

#left-sidebar nav li {
  padding-top: 10px;
  padding-bottom: 10px;
  background-size: 26px 26px;
  background-position: 0 center;
  background-repeat: no-repeat;
  color: #ccc;
}

#left-sidebar nav li a {
  text-decoration: none;
  padding-left: 40px;
  font-weight: bold;
  color: #ccc;
}

#left-sidebar nav li a:hover {
  color: #fff;
}

#left-sidebar nav li a::before {
  position: absolute;
  margin-left: -40px;
  margin-top: -6px;
  width: 26px;
  height: 26px;
  background-color: #111;
  content: "";
  filter: invert(1);
  -webkit-filter: invert(1);
}

#left-sidebar #sidebar-browse a::before {
  background: url("https://raw.githubusercontent.com/JourneyOver/Userstyles/gh-pages/userstyles/Style/img/folder_icon.svg");
  background-size: 26px 26px;
  background-position: center center;
  background-repeat: no-repeat;
}

#left-sidebar #sidebar-my-account a::before {
  background: url("https://raw.githubusercontent.com/JourneyOver/Userstyles/gh-pages/userstyles/Style/img/account_icon.svg");
  background-size: 26px 26px;
  background-position: center center;
  background-repeat: no-repeat;
}

#left-sidebar #sidebar-help a::before {
  background: url("https://raw.githubusercontent.com/JourneyOver/Userstyles/gh-pages/userstyles/Style/img/help_icon.svg");
  background-size: 26px 26px;
  background-position: center center;
  background-repeat: no-repeat;
}

#left-sidebar #sidebar-forum a::before {
  background: url("https://raw.githubusercontent.com/JourneyOver/Userstyles/gh-pages/userstyles/Style/img/forum_icon.svg");
  background-size: 26px 26px;
  background-position: center center;
  background-repeat: no-repeat;
}

#left-sidebar #request-style {
  display: none!important;
}

#related {
  position: absolute;
  bottom: 196px;
  border-radius: 0;
  padding: 5px;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 2px solid #333;
  font-size: 12px;
  background-color: transparent;
}

#related h2 {
  margin-bottom: 16px;
  color: #ccc;
}

#related li {
  margin-bottom: 4px;
}

#related .more {
  margin-top: 12px;
  border: none;
  color: #ccc;
}

div+footer {
  position: fixed;
  z-index: 10;
  width: 200px;
  left: 0px;
  bottom: 0px;
}

div+footer a {
  margin-left: 15px;
  color: #ccc;
  text-decoration: none;
}

@media (max-width: 900px) {
#left-sidebar {
  width: 60px !important;
}

#left-sidebar #sidebar-search {
  margin-bottom: 50px;
}

#sidebar-search #search-terms {
  display: none;
  float: none;
  position: absolute;
  width: 200px !important;
  left: 14px;
  height: 32px;
  padding-left: 40px;
}

#sidebar-search:hover #search-terms {
  display: initial;
}

#sidebar-search #search-submit {
  left: 10px;
}

#sidebar-search #show-advanced-search {
  display: none;
}

#related {
  display: none;
}

#left-sidebar nav li a {
  margin-left: -160px;
}

#left-sidebar nav li a::before {
  margin-left: 120px;
}

div+footer {
  display: none;
}
}

@media (max-height: 560px) {
#sidebar-search {
  margin-bottom: 18px !important;
}

#left-sidebar nav li {
  padding-top: 8px;
  padding-bottom: 8px;
}
}

@media (max-height: 480px) {
#related {
  display: none;
}
}

/*:: Right Panel ::*/
#left-info {
  float: right;
  width: 240px;
  height: 392px;
  margin-left: 20px;
  margin-bottom: 40px;
  border-radius: 0 !important;
  background-color: #1c1c1c;
}

#left-info #screenshots {
  border-radius: 0px;
  border: none;
  padding: 10px;
}

#main-screenshot {
  overflow-y: unset;
}

#main-screenshot img {
  max-width: 220px;
  max-height: 138px;
}

#more-screenshots {
  display: none;
}

#info-tables {
  position: absolute;
  top: 240px;
  right: 20px;
  width: 240px;
  padding-bottom: 30px;
  border-radius: 0px;
  background-color: transparent;
  color: #ccc;
}

#info-tables #style-author-info {
  margin: 10px;
  margin-bottom: 0;
  padding-bottom: 4px;
  width: 220px;
}

#info-tables #style-author-info tr td:last-child {
  width: 100%;
  white-space: nowrap;
}

#info-tables #style-author-info td {
  text-align: right;
  overflow: hidden;
  max-width: 0px;
}

#info-tables #style-install-info {
  margin: 10px;
  margin-top: 0;
  padding-top: 4px;
  width: 220px;
  border-top: 1px solid #eee;
}

#info-tables #style-install-info tr td:last-child {
  width: 100%;
  white-space: nowrap;
}

#info-tables td {
  text-align: right;
}

.install,
.install-info {
  background-image: none;
}

.install:hover,
.install-info:hover {
  background-image: none;
}

#info-tables #show-button {
  position: absolute;
  top: 173px;
  right: 0;
  width: 220px;
  height: 26px;
  padding-left: 20px;
  padding-top: 10px;
  text-align: left;
  background-color: #222;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

#info-tables #show-button:hover {
  background-color: #2c2c2c;
}

.install-status {
  position: absolute;
  z-index: 6;
  top: 434px;
  right: 20px;
  width: 208px;
  max-width: 240px;
  border-radius: 0px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  font-size: 0.9em;
}

#stylish-installed-style-installed {
  background-color: #03a9f4;
}

#control-panel {
  position: absolute;
  z-index: 7;
  top: 482px;
  right: 20px;
  width: 240px;
  height: 26px;
  padding-top: 10px;
  background-color: transparent;
}

#control-panel a {
  position: absolute;
  top: 0;
  width: 80px;
  height: 26px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

#control-panel a:nth-child(1) {
  /* edit */
  top: -2px;
  right: 160px;
  background-color: #273;
}

#control-panel a:nth-child(1):hover {
  background-color: #394;
}

#control-panel a:nth-child(2) {
  /* delete */
  top: -2px;
  right: 80px;
  background-color: #e21;
}

#control-panel a:nth-child(2):hover {
  background-color: #f44;
}

#control-panel a:nth-child(3) {
  /* stats */
  top: -2px;
  right: 0px;
  background-color: #f90;
}

#control-panel a:nth-child(3):hover {
  background-color: #fb3;
}

/*:: Content ::*/
#content-wrapper {
  float: none;
  margin-top: 60px;
  margin-left: 220px;
  width: initial;
}

#main-article {
  margin: 0 !important;
  padding: 20px;
  padding-top: 24px;
  max-width: none;
  color: #ccc;
}

#main-style-info {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  color: #ccc;
}

#additional-info {
  margin: 0;
  padding: 0;
}

#additional-info-text {
  max-height: 400px;
  color: #777;
  background: #111;
  padding: 20px;
  transition: 0.5s ease;
}

#additional-info-text:hover {
  color: #bfbfbf;
}

#discussions-area {
  margin: 0;
  padding: 0;
  color: #ccc;
}

#discussions-area h3 {
  display: none;
}

section h2 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0;
  color: #ccc;
}

#view-code {
  border: 1px solid #333;
  background-color: #1c1c1c;
  font-family: Consolas, Verdana, sans-serif;
}

#social {
  display: none;
}

.author-styles tr td {
  border: 1px solid #333;
  padding: 5px 5px 10px 5px;
}

@media (max-width: 900px) {
#content-wrapper {
  margin-left: 60px;
}
}

input[type=text] {
  background: #222;
  border: 2px solid #222;
  color: #ccc;
}

textarea {
  background: #222;
  border: 2px solid #222;
  color: #ccc;
}

.edit-setting {
  background: #111;
}

#edit-style-settings input:not([type]),
#edit-style-settings input[type="text"] {
  background: #333;
  border: 2px solid #222;
  color: #ccc;
}

input[type=button] {
  background: #222;
  border: 2px solid #111;
  color: #fff;
}

.errorExplanation {
  color: #000;
  font-weight: bold;
}

/*:: Links ::*/
a {
  text-decoration: none;
  color: #00FF78;
}

a:visited,
a:visited:hover {
  text-decoration: none;
  color: #05C961;
}

a:visited:hover,
a:hover {
  color: #009646;
}
}

@-moz-document domain("forum.userstyles.org") {
/*:: Forums ::*/
* {
  color: #eee;
}

.Activities .ItemContent a,
.PopList .Center a,
.PopList .Item.Title a {
  color: #00FF78
}

#Head {
  background: #222;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.Item.Read {
  background: #222;
}

.Button {
  background: #222 !important;
  text-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #222;
  color: #ccc;
}

.Button:hover {
  background: #333;
  border: 1px solid #333;
  color: #fff;
}

#Form_Search {
  background: #333;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}

#Form_Search:focus {
  box-shadow: 0 5px 10px #000;
}

.SiteSearch {
  margin-top: -7px;
}

#Form_Go {
  display: none;
}

#Head .SiteSearch .InputBox~#Form_Go {
  display: initial;
}

.SiteTitle {
  text-transform: uppercase;
}

code,
pre {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  background: #222;
  border: 1px solid #333;
}

#Form_Body {
  background: #222;
  color: #fff;
  border: 1px solid #333;
}

.PoweredByVanilla {
  display: none;
}

.Flyout MenuItems {
  background: #222;
}

#Body {
  margin-top: 60px;
}

.Sprite16 {
  filter: invert(1);
}

.FlyoutMenu {
  background: #1c1c1c;
  border: 1px solid #1c1c1c;
}

.PopList .Item.Title {
  color: #ccc;
}

.Activities .ItemContent {
  color: #ccc;
}
}